In [2]:
from hossam import load_data
from pandas import DataFrame, get_dummies, merge
from sklearn.preprocessing import OneHotEncoder

In [5]:
origin = load_data("nursing_grades")
origin

[data] https://data.hossam.kr/data/lab05/nursing_grades.xlsx
[desc] 어느 간호학과 대학원에 지원한 학생들에 대한 합격/불합격 여부를 조사한 가상의 데이터(메타데이터 없음)
[!] Cannot read metadata

          이름 성별  필기점수  학부성적  병원경력 합격여부
접수코드
NRS0001  장은우  남   380  3.61     3  불합격
NRS0002  최지호  남   660  3.67     3   합격
NRS0003  김하준  남   800  4.00     1   합격
NRS0004  임아윤  여   640  3.19     4   합격
NRS0005  강하준  남   520  2.93     4  불합격
...      ... ..   ...   ...   ...  ...
NRS0396  박지유  여   620  4.00     2  불합격
NRS0397  조하은  여   560  3.04     3  불합격
NRS0398  박하윤  여   460  2.63     2  불합격
NRS0399  이지우  여   700  3.65     2  불합격
NRS0400  강하은  여   600  3.89     3  불합격

[400 rows x 6 columns]

In [7]:
df = origin.astype({'성별':'category', '병원경력':'category','합격여부':'category'})
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 400 entries, NRS0001 to NRS0400
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      400 non-null    object
 1   성별      400 non-null    category
 2   필기점수    400 non-null    int64
 3   학부성적    400 non-null    float64
 4   병원경력    400 non-null    category
 5   합격여부    400 non-null    category
dtypes: category(3), float64(1), int64(1), object(1)
memory usage: 14.1+ KB

In [10]:
df1= get_dummies(df, columns=['성별'], dtype = 'int')
df1.head()

          이름  필기점수  학부성적 병원경력 합격여부  성별_남  성별_여
접수코드
NRS0001  장은우   380  3.61    3  불합격     1     0
NRS0002  최지호   660  3.67    3   합격     1     0
NRS0003  김하준   800  4.00    1   합격     1     0
NRS0004  임아윤   640  3.19    4   합격     0     1
NRS0005  강하준   520  2.93    4  불합격     1     0

In [12]:
# N-1더미변수 생성
df2 = get_dummies(df, columns = ['성별'], dtype = 'int', drop_first = True)
df.head()

          이름 성별  필기점수  학부성적 병원경력 합격여부
접수코드
NRS0001  장은우  남   380  3.61    3  불합격
NRS0002  최지호  남   660  3.67    3   합격
NRS0003  김하준  남   800  4.00    1   합격
NRS0004  임아윤  여   640  3.19    4   합격
NRS0005  강하준  남   520  2.93    4  불합격

In [14]:
df3 = get_dummies( df, columns = ['성별', '병원경력'],dtype = 'int',
                  drop_first = True)
df3.head()

          이름  필기점수  학부성적 합격여부  성별_여  병원경력_2  병원경력_3  병원경력_4
접수코드
NRS0001  장은우   380  3.61  불합격     0       0       1       0
NRS0002  최지호   660  3.67   합격     0       0       1       0
NRS0003  김하준   800  4.00   합격     0       0       0       0
NRS0004  임아윤   640  3.19   합격     1       0       0       1
NRS0005  강하준   520  2.93  불합격     0       0       0       1

In [16]:
x = df['성별'].values.reshape(-1,1)
x

[['남'], ['남'], ['남'], ['여'], ['남'], ..., ['여'], ['여'], ['여'], ['여'], ['여']]
Length: 400
Categories (2, object): ['남', '여']

In [19]:
x = df[['성별']]
x

        성별
접수코드
NRS0001  남
NRS0002  남
NRS0003  남
NRS0004  여
NRS0005  남
...     ..
NRS0396  여
NRS0397  여
NRS0398  여
NRS0399  여
NRS0400  여

[400 rows x 1 columns]

In [22]:
encoder = OneHotEncoder(sparse_output=False, drop=None)
result = encoder.fit_transform(x)
result

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.]])

In [24]:
# Scikit-Learn을 사용하는 방법(트리 기반 머신러닝 모형에 추천)
new_cols = encoder.get_feature_names_out(['성별'])
new_cols

array(['성별_남', '성별_여'], dtype=object)

In [29]:
one_hot_df = DataFrame(result, columns = new_cols, index = df.index)
one_hot_df.head()

         성별_남  성별_여
접수코드
NRS0001   1.0   0.0
NRS0002   1.0   0.0
NRS0003   1.0   0.0
NRS0004   0.0   1.0
NRS0005   1.0   0.0

In [31]:
df_copy = df.copy()
df4 = merge(df_copy, one_hot_df, left_index = True, right_index = True)
df4.head()

          이름 성별  필기점수  학부성적 병원경력 합격여부  성별_남  성별_여
접수코드
NRS0001  장은우  남   380  3.61    3  불합격   1.0   0.0
NRS0002  최지호  남   660  3.67    3   합격   1.0   0.0
NRS0003  김하준  남   800  4.00    1   합격   1.0   0.0
NRS0004  임아윤  여   640  3.19    4   합격   0.0   1.0
NRS0005  강하준  남   520  2.93    4  불합격   1.0   0.0

# 온라인 스토어 고객 행동 분석

In [43]:
import pandas as pd

In [51]:
customers = load_data("online_store_customers")
customers

[data] https://data.hossam.kr/data/lab05/online_store_customers.xlsx
[desc] 한 온라인 스토어의 마케팅 팀이 연말 특별 프로모션을 기획에 필요한 고객의 기본 인구 통계 정보(메타데이터 없음)
[!] Cannot read metadata

            name gender  age
user_id
1          Alice      F   25
2            Bob      M   30
3        Charlie      M   35
4          David      M   42
5            Eve      F   28
6          Frank      M   21
7          Grace      F   33
8          Henry      M   45
9            Ivy      F   29
10          Jack      M   38

In [73]:
purchases = load_data("online_store_purchases")
purchases

[data] https://data.hossam.kr/data/lab05/online_store_purchases.xlsx
[desc] 한 온라인 스토어의 마케팅 팀이 연말 특별 프로모션을 기획에 필요한 고객의 구매 관련 정보(메타데이터 없음)
[!] Cannot read metadata

             user_id  product size  color  price
purchase_id
101                1  T-shirt    M  White  15000
102                2    Pants    L  Black  35000
103                1    Skirt    S    Red  25000
104                3  T-shirt    L   Blue  17000
105                5   Jacket    M  Black  55000
106                4    Pants    M  Khaki  33000
107                6  T-shirt    S  White  16000
108                7   Jacket  NaN    Red  58000
109                8    Pants    L  Black  38000
110                9    Skirt    S   Blue  27000
111               10  T-shirt   XL  White  18000
112                5    Pants    S  Khaki  32000
113                2   Jacket    L   Navy  62000
114                7  T-shirt    M  Black  19000
115                1    Pants    S   Blue  31000

In [58]:
# 1.
merged = pd.merge(customers, purchases, on='user_id', how = 'inner')
merged

    user_id     name gender  age  product size  color  price
0         1    Alice      F   25  T-shirt    M  White  15000
1         1    Alice      F   25    Skirt    S    Red  25000
2         1    Alice      F   25    Pants    S   Blue  31000
3         2      Bob      M   30    Pants    L  Black  35000
4         2      Bob      M   30   Jacket    L   Navy  62000
5         3  Charlie      M   35  T-shirt    L   Blue  17000
6         4    David      M   42    Pants    M  Khaki  33000
7         5      Eve      F   28   Jacket    M  Black  55000
8         5      Eve      F   28    Pants    S  Khaki  32000
9         6    Frank      M   21  T-shirt    S  White  16000
10        7    Grace      F   33   Jacket  NaN    Red  58000
11        7    Grace      F   33  T-shirt    M  Black  19000
12        8    Henry      M   45    Pants    L  Black  38000
13        9      Ivy      F   29    Skirt    S   Blue  27000
14       10     Jack      M   38  T-shirt   XL  White  18000

In [60]:
# 2.
size_mode = merged['size'].mode()[0]

size_mode

'S'

In [64]:
merged['size'] = merged['size'].fillna(size_mode)
merged

    user_id     name gender  age  product size  color  price
0         1    Alice      F   25  T-shirt    M  White  15000
1         1    Alice      F   25    Skirt    S    Red  25000
2         1    Alice      F   25    Pants    S   Blue  31000
3         2      Bob      M   30    Pants    L  Black  35000
4         2      Bob      M   30   Jacket    L   Navy  62000
5         3  Charlie      M   35  T-shirt    L   Blue  17000
6         4    David      M   42    Pants    M  Khaki  33000
7         5      Eve      F   28   Jacket    M  Black  55000
8         5      Eve      F   28    Pants    S  Khaki  32000
9         6    Frank      M   21  T-shirt    S  White  16000
10        7    Grace      F   33   Jacket    S    Red  58000
11        7    Grace      F   33  T-shirt    M  Black  19000
12        8    Henry      M   45    Pants    L  Black  38000
13        9      Ivy      F   29    Skirt    S   Blue  27000
14       10     Jack      M   38  T-shirt   XL  White  18000

In [67]:
# 3.
gender_dummies = pd.get_dummies(merged['gender'], prefix = 'gender')
merged = pd.concat([merged, gender_dummies],axis=1)
merged

,user_id,name,gender,age,product,size,color,price,gender_F,gender_M,gender_F,gender_M,gender_F,gender_M
0,1,Alice,F,25,T-shirt,M,White,15000,True,False,True,False,True,False
1,1,Alice,F,25,Skirt,S,Red,25000,True,False,True,False,True,False
2,1,Alice,F,25,Pants,S,Blue,31000,True,False,True,False,True,False
3,2,Bob,M,30,Pants,L,Black,35000,False,True,False,True,False,True
4,2,Bob,M,30,Jacket,L,Navy,62000,False,True,False,True,False,True
5,3,Charlie,M,35,T-shirt,L,Blue,17000,False,True,False,True,False,True
6,4,David,M,42,Pants,M,Khaki,33000,False,True,False,True,False,True
7,5,Eve,F,28,Jacket,M,Black,55000,True,False,True,False,True,False
8,5,Eve,F,28,Pants,S,Khaki,32000,True,False,True,False,True,False
9,6,Frank,M,21,T-shirt,S,White,16000,False,True,False,True,False,True
10,7,Grace,F,33,Jacket,S,Red,58000,True,False,True,False,True,False
11,7,Grace,F,33,T-shirt,M,Black,19000,True,False,True,False,True,False
12,8,Henry,M,45,Pants,L,Black,38000,False,True,False,True,False,True
13,9,Ivy,F,29,Skirt,S,Blue,27000,True,False,True,False,True,False
14,10,Jack,M,38,T-shirt,XL,White,18000,False,True,False,True,False,True

In [70]:
# 3.
color_dummies = pd.get_dummies(merged['color'], prefix = 'color')
merged = pd.concat([merged, color_dummies], axis = 1)
merged

,user_id,name,gender,age,product,size,color,price,gender_F,gender_M,...,color_Khaki,color_Navy,color_Red,color_White,color_Black,color_Blue,color_Khaki,color_Navy,color_Red,color_White
0,1,Alice,F,25,T-shirt,M,White,15000,True,False,...,False,False,False,True,False,False,False,False,False,True
1,1,Alice,F,25,Skirt,S,Red,25000,True,False,...,False,False,True,False,False,False,False,False,True,False
2,1,Alice,F,25,Pants,S,Blue,31000,True,False,...,False,False,False,False,False,True,False,False,False,False
3,2,Bob,M,30,Pants,L,Black,35000,False,True,...,False,False,False,False,True,False,False,False,False,False
4,2,Bob,M,30,Jacket,L,Navy,62000,False,True,...,False,True,False,False,False,False,False,True,False,False
5,3,Charlie,M,35,T-shirt,L,Blue,17000,False,True,...,False,False,False,False,False,True,False,False,False,False
6,4,David,M,42,Pants,M,Khaki,33000,False,True,...,True,False,False,False,False,False,True,False,False,False
7,5,Eve,F,28,Jacket,M,Black,55000,True,False,...,False,False,False,False,True,False,False,False,False,False
8,5,Eve,F,28,Pants,S,Khaki,32000,True,False,...,True,False,False,False,False,False,True,False,False,False
9,6,Frank,M,21,T-shirt,S,White,16000,False,True,...,False,False,False,True,False,False,False,False,False,True
10,7,Grace,F,33,Jacket,S,Red,58000,True,False,...,False,False,True,False,False,False,False,False,True,False
11,7,Grace,F,33,T-shirt,M,Black,19000,True,False,...,False,False,False,False,True,False,False,False,False,False
12,8,Henry,M,45,Pants,L,Black,38000,False,True,...,False,False,False,False,True,False,False,False,False,False
13,9,Ivy,F,29,Skirt,S,Blue,27000,True,False,...,False,False,False,False,False,True,False,False,False,False
14,10,Jack,M,38,T-shirt,XL,White,18000,False,True,...,False,False,False,True,False,False,False,False,False,True

In [74]:
"객체"

'객체'

In [2]:
from hossam import load_data
import numpy as np

# 직원 성과 분석을 위한 데이터 스케일링

In [5]:
performance = load_data("performance")
performance

performance는 존재하지 않는 데이터에 대한 요청입니다.