In [2]:
from hossam import load_data

In [3]:
origin = load_data('group_list')
origin

[data] https://data.hossam.kr/data/lab03/group_list.xlsx
[desc] ì–´ëŠ ê²Œì„ ë™ì•„ë¦¬ì˜ íšŒì› ëª©ë¡ì„ ì¡°ì‚¬í•œ ê°€ìƒì˜ ë°ì´í„°
[!] Cannot read metadata

,ì•„ì´ë””,ì´ë©”ì¼,ì£¼ì†Œ,ì „í™”ë²ˆí˜¸,ë©”ëª¨,ë“±ê¸‰,ìƒíƒœ,ë“±ë¡ì¼ì‹œ
ì´ë¦„,,,,,,,,
ê¹€ì² ìˆ˜,kimcs,kimcs@naver.com,ì„œìš¸ì‹œ ê°•ë‚¨êµ¬,010-1234-5678,íŒŒì´ì¬ ì¢‹ì•„í•¨,ê³¨ë“œ,í™œì„±,2024-01-15 09:30:00
ì´ì˜í¬,leeyh,leeyh@daum.net,ë¶€ì‚°ì‹œ í•´ìš´ëŒ€êµ¬,010-2345-6789,ë©”ëª¨ ì—†ìŒ,ì‹¤ë²„,ë¹„í™œì„±,2024-02-20 14:15:30
ë°•ë¯¼ìˆ˜,parkms,parkms@gmail.com,ëŒ€êµ¬ì‹œ ì¤‘êµ¬,010-3456-7890,íŒë‹¤ìŠ¤ ì‚¬ìš©ì¤‘,ë¸Œë¡ ì¦ˆ,í™œì„±,2024-03-10 16:45:00
ìµœìˆ˜ì§€,choisj,choisj@hanmail.net,ì¸ì²œì‹œ ì—°ìˆ˜êµ¬,010-4567-8901,ì•ìª½ê³µë°±,í”Œë˜í‹°ë„˜,í™œì„±,2024-04-05 11:20:15
ì •í•˜ë‚˜,junghana,junghana@nate.com,ê´‘ì£¼ì‹œ ì„œêµ¬,010-5678-9012,ë’¤ìª½ê³µë°±,ê³¨ë“œ,ë¹„í™œì„±,2024-05-12 08:55:45
ê°•ë¯¼í˜¸,kangmh,kangmh@yahoo.co.kr,ëŒ€ì „ì‹œ ìœ ì„±êµ¬,010-6789-0123,ëŒ€ì†Œë¬¸ì í˜¼í•©,ì‹¤ë²„,í™œì„±,2024-06-18 13:30:20
ì†¡ì§€ì€,songje,songje@outlook.com,ìš¸ì‚°ì‹œ ë‚¨êµ¬,010-7890-1234,"ì‰¼í‘œ,í¬í•¨",ë¸Œë¡ ì¦ˆ,í™œì„±,2024-07-22 17:10:30
ìœ¤íƒœìš°,yoontw,yoontw@kakao.com,ì„¸ì¢…ì‹œ,010-8901-2345,ìˆ«ì123í¬í•¨,í”Œë˜í‹°ë„˜,ë¹„í™œì„±,2024-08-30 10:05:00

ğŸ“˜#02.ëŒ€ì†Œë¬¸ì ë³€ê²½

In [4]:
df = origin.copy()

df['ì´ë©”ì¼_ì†Œë¬¸ì'] = df['ì´ë©”ì¼'].str.lower()
df['ì´ë©”ì¼_ëŒ€ë¬¸ì'] = df['ì´ë©”ì¼'].str.upper()
df['ë‹¨ì–´_ì²«ê¸€ì'] = df['ì•„ì´ë””'].str.title()
df['ì²«ê¸€ì'] = df['ì•„ì´ë””'].str.capitalize()
df[['ì´ë©”ì¼', 'ì´ë©”ì¼_ì†Œë¬¸ì', 'ì´ë©”ì¼_ëŒ€ë¬¸ì', 'ë‹¨ì–´_ì²«ê¸€ì', 'ì²«ê¸€ì']].head()

,ì´ë©”ì¼,ì´ë©”ì¼_ì†Œë¬¸ì,ì´ë©”ì¼_ëŒ€ë¬¸ì,ë‹¨ì–´_ì²«ê¸€ì,ì²«ê¸€ì
ì´ë¦„,,,,,
ê¹€ì² ìˆ˜,kimcs@naver.com,kimcs@naver.com,KIMCS@NAVER.COM,Kimcs,Kimcs
ì´ì˜í¬,leeyh@daum.net,leeyh@daum.net,LEEYH@DAUM.NET,Leeyh,Leeyh
ë°•ë¯¼ìˆ˜,parkms@gmail.com,parkms@gmail.com,PARKMS@GMAIL.COM,Parkms,Parkms
ìµœìˆ˜ì§€,choisj@hanmail.net,choisj@hanmail.net,CHOISJ@HANMAIL.NET,Choisj,Choisj
ì •í•˜ë‚˜,junghana@nate.com,junghana@nate.com,JUNGHANA@NATE.COM,Junghana,Junghana

ğŸ“˜#03.ê³µë°± ì œê±°ì™€ íŒ¨ë”©

In [5]:
df['strip'] = df['ë©”ëª¨'].str.strip()
df['lstrip'] = df['ë©”ëª¨'].str.lstrip()
df['rstrip'] = df['ë©”ëª¨'].str.rstrip()
df['zfill'] = df['ì•„ì´ë””'].astype(str).str.zfill(12)
df['pad'] = df['ì•„ì´ë””'].astype(str).str.pad(12, side='both',
                                          fillchar='*')
df[['strip','lstrip','rstrip','zfill','pad']].head()

       strip     lstrip     rstrip         zfill           pad
ì´ë¦„
ê¹€ì² ìˆ˜  íŒŒì´ì¬ ì¢‹ì•„í•¨  íŒŒì´ì¬ ì¢‹ì•„í•¨      íŒŒì´ì¬ ì¢‹ì•„í•¨  0000000kimcs  ***kimcs****
ì´ì˜í¬    ë©”ëª¨ ì—†ìŒ      ë©”ëª¨ ì—†ìŒ      ë©”ëª¨ ì—†ìŒ  0000000leeyh  ***leeyh****
ë°•ë¯¼ìˆ˜  íŒë‹¤ìŠ¤ ì‚¬ìš©ì¤‘    íŒë‹¤ìŠ¤ ì‚¬ìš©ì¤‘    íŒë‹¤ìŠ¤ ì‚¬ìš©ì¤‘  000000parkms  ***parkms***
ìµœìˆ˜ì§€     ì•ìª½ê³µë°±       ì•ìª½ê³µë°±       ì•ìª½ê³µë°±  000000choisj  ***choisj***
ì •í•˜ë‚˜     ë’¤ìª½ê³µë°±     ë’¤ìª½ê³µë°±         ë’¤ìª½ê³µë°±  0000junghana  **junghana**

ğŸ“˜#04.íŠ¹ì • íŒ¨í„´ í¬í•¨/ì‹œì‘/ë ê²€ì‚¬

In [6]:
df['ë„¤ì´ë²„ì´ë©”ì¼'] = df['ì´ë©”ì¼'].str.contains('naver.com')
df['íœ´ëŒ€í°ë²ˆí˜¸'] = df['ì „í™”ë²ˆí˜¸'].str.startswith('010-')
df['êµ¬ë‹¨ìœ„ì£¼ì†Œ'] =- df['ì£¼ì†Œ'].str.endswith('êµ¬')
df[['ì´ë©”ì¼', 'ë„¤ì´ë²„ì´ë©”ì¼', 'ì „í™”ë²ˆí˜¸', 'íœ´ëŒ€í°ë²ˆí˜¸', 'ì£¼ì†Œ', 'êµ¬ë‹¨ìœ„ì£¼ì†Œ']].head()

                    ì´ë©”ì¼  ë„¤ì´ë²„ì´ë©”ì¼           ì „í™”ë²ˆí˜¸  íœ´ëŒ€í°ë²ˆí˜¸        ì£¼ì†Œ  êµ¬ë‹¨ìœ„ì£¼ì†Œ
ì´ë¦„
ê¹€ì² ìˆ˜     kimcs@naver.com    True  010-1234-5678   True   ì„œìš¸ì‹œ ê°•ë‚¨êµ¬  False
ì´ì˜í¬      leeyh@daum.net   False  010-2345-6789   True  ë¶€ì‚°ì‹œ í•´ìš´ëŒ€êµ¬  False
ë°•ë¯¼ìˆ˜    parkms@gmail.com   False  010-3456-7890   True    ëŒ€êµ¬ì‹œ ì¤‘êµ¬  False
ìµœìˆ˜ì§€  choisj@hanmail.net   False  010-4567-8901   True   ì¸ì²œì‹œ ì—°ìˆ˜êµ¬  False
ì •í•˜ë‚˜   junghana@nate.com   False  010-5678-9012   True    ê´‘ì£¼ì‹œ ì„œêµ¬  False

ğŸ“˜#05.ì°¾ê¸°/ê°œìˆ˜/ì¹˜í™˜

In [7]:
df['ë©”ëª¨_ì¤‘_ìœ„ì¹˜'] = df['ë©”ëª¨'].str.find('ì¤‘')
df['ë©”ëª¨_ì¤‘_ê°œìˆ˜'] = df['ë©”ëª¨'].str.count('ì¤‘')
df['ë©”ëª¨ì—†ìŒ'] = df['ë©”ëª¨'].str.replace('ë©”ëª¨ì—†ìŒ', 'empty')
df[['ë©”ëª¨', 'ë©”ëª¨_ì¤‘_ìœ„ì¹˜', 'ë©”ëª¨_ì¤‘_ê°œìˆ˜', 'ë©”ëª¨ì—†ìŒ']].head()

              ë©”ëª¨  ë©”ëª¨_ì¤‘_ìœ„ì¹˜  ë©”ëª¨_ì¤‘_ê°œìˆ˜         ë©”ëª¨ì—†ìŒ
ì´ë¦„
ê¹€ì² ìˆ˜    íŒŒì´ì¬ ì¢‹ì•„í•¨         -1        0    íŒŒì´ì¬ ì¢‹ì•„í•¨
ì´ì˜í¬        ë©”ëª¨ ì—†ìŒ       -1        0        ë©”ëª¨ ì—†ìŒ
ë°•ë¯¼ìˆ˜      íŒë‹¤ìŠ¤ ì‚¬ìš©ì¤‘        6        1      íŒë‹¤ìŠ¤ ì‚¬ìš©ì¤‘
ìµœìˆ˜ì§€         ì•ìª½ê³µë°±       -1        0         ì•ìª½ê³µë°±
ì •í•˜ë‚˜       ë’¤ìª½ê³µë°±         -1        0       ë’¤ìª½ê³µë°±

ğŸ“˜#06.ë¶„í• /ì¶”ì¶œ/ê²°í•©

In [8]:
df['ì‚¬ìš©ìëª…'] = df['ì´ë©”ì¼'].str.split('@').str.get(0)
df['ë„ë©”ì¸'] = df['ì´ë©”ì¼'].str.split('@').str.get(1)
df['ì´ë¦„_ì´ë©”ì¼'] = df.index.str.cat(df['ë„ë©”ì¸'], sep='@')
df[['ì‚¬ìš©ìëª…', 'ë„ë©”ì¸', 'ì´ë¦„_ì´ë©”ì¼']].head()

         ì‚¬ìš©ìëª…          ë„ë©”ì¸           ì´ë¦„_ì´ë©”ì¼
ì´ë¦„
ê¹€ì² ìˆ˜     kimcs    naver.com    ê¹€ì² ìˆ˜@naver.com
ì´ì˜í¬     leeyh     daum.net     ì´ì˜í¬@daum.net
ë°•ë¯¼ìˆ˜    parkms    gmail.com    ë°•ë¯¼ìˆ˜@gmail.com
ìµœìˆ˜ì§€    choisj  hanmail.net  ìµœìˆ˜ì§€@hanmail.net
ì •í•˜ë‚˜  junghana     nate.com     ì •í•˜ë‚˜@nate.com

ğŸ“˜#07.íƒ€ì… ê²€ì‚¬(ìˆ«ì/ë¬¸ì ì—¬ë¶€)

In [9]:
df['ì•„ì´ë””_ìˆ«ìì—¬ë¶€(1)'] = df['ì•„ì´ë””'].str.isdigit()
df['ì•„ì´ë””_ìˆ«ìì—¬ë¶€(2)'] = df['ì•„ì´ë””'].str.isnumeric()
df['ë“±ê¸‰_ë¬¸ìì—¬ë¶€'] = df['ë“±ê¸‰'].str.isalpha()
df['ë“±ê¸‰_ë¬¸ì+ìˆ«ìì—¬ë¶€'] = df['ë“±ê¸‰'].str.isalnum()

df[['ì•„ì´ë””', 'ì•„ì´ë””_ìˆ«ìì—¬ë¶€(1)', 'ì•„ì´ë””_ìˆ«ìì—¬ë¶€(2)', 'ë“±ê¸‰', 'ë“±ê¸‰_ë¬¸ìì—¬ë¶€', 'ë“±ê¸‰_ë¬¸ì+ìˆ«ìì—¬ë¶€']].head()

          ì•„ì´ë””  ì•„ì´ë””_ìˆ«ìì—¬ë¶€(1)  ì•„ì´ë””_ìˆ«ìì—¬ë¶€(2)    ë“±ê¸‰  ë“±ê¸‰_ë¬¸ìì—¬ë¶€  ë“±ê¸‰_ë¬¸ì+ìˆ«ìì—¬ë¶€
ì´ë¦„
ê¹€ì² ìˆ˜     kimcs        False        False    ê³¨ë“œ     True        True
ì´ì˜í¬     leeyh        False        False    ì‹¤ë²„     True        True
ë°•ë¯¼ìˆ˜    parkms        False        False   ë¸Œë¡ ì¦ˆ     True        True
ìµœìˆ˜ì§€    choisj        False        False  í”Œë˜í‹°ë„˜     True        True
ì •í•˜ë‚˜  junghana        False        False    ê³¨ë“œ     True        True

ğŸ“˜#08.ê¸¸ì´/ìŠ¬ë¼ì´ìŠ¤

In [10]:
df['ì´ë¦„_ê¸¸ì´'] = df.index.str.len()
df['ì´ë¦„_ì„±'] = df.index.str.slice(0,1)
df['ì „í™”ë²ˆí˜¸_ë’·4ìë¦¬'] = df['ì „í™”ë²ˆí˜¸'].str.slice(-4)
df[['ì´ë¦„_ê¸¸ì´', 'ì´ë¦„_ì„±', 'ì „í™”ë²ˆí˜¸','ì „í™”ë²ˆí˜¸_ë’·4ìë¦¬']].head()

     ì´ë¦„_ê¸¸ì´ ì´ë¦„_ì„±           ì „í™”ë²ˆí˜¸ ì „í™”ë²ˆí˜¸_ë’·4ìë¦¬
ì´ë¦„
ê¹€ì² ìˆ˜      3    ê¹€  010-1234-5678      5678
ì´ì˜í¬      3    ì´  010-2345-6789      6789
ë°•ë¯¼ìˆ˜      3    ë°•  010-3456-7890      7890
ìµœìˆ˜ì§€      3    ìµœ  010-4567-8901      8901
ì •í•˜ë‚˜      3    ì •  010-5678-9012      9012

In [11]:
from hossam import load_data

from pandas import to_datetime
from pandas import DateOffset
from datetime import datetime as dt
from datetime import timedelta as td

In [12]:
origin = load_data('shopping_orders')
origin.head()

[data] https://data.hossam.kr/data/lab03/shopping_orders.xlsx
[desc] ì–´ëŠ ì‡¼í•‘ëª°ì˜ ê³ ê°ë³„ ì£¼ë¬¸ ë‚´ì—­ ë°ì´í„°
[!] Cannot read metadata

      ê³ ê°ëª…           ì£¼ë¬¸ì¼              ë°°ì†¡ì™„ë£Œì¼ì‹œ       ìƒí’ˆëª…  ìƒí’ˆë¶„ë¥˜    ì£¼ë¬¸ê¸ˆì•¡  ê²°ì œë°©ë²• ë°°ì†¡ì§€ì—­
ê³ ê°ID
C001  ê¹€ë¯¼ìˆ˜  2024ë…„ 1ì›” 15ì¼ 2024-01-17 14:30:00    ë¬´ì„  ì´ì–´í°  ì „ìê¸°ê¸°   89000  ì¹´ë“œê²°ì œ   ì„œìš¸
C002  ì´ì˜í¬   2024ë…„ 2ì›” 3ì¼ 2024-02-05 16:20:00     ê²¨ìš¸ ì½”íŠ¸    ì˜ë¥˜  156000  ê³„ì¢Œì´ì²´   ë¶€ì‚°
C003  ë°•ì² ìˆ˜  2024ë…„ 2ì›” 14ì¼ 2024-02-16 11:45:00  ë°œë Œíƒ€ì¸ ì´ˆì½œë¦¿    ì‹í’ˆ   25000  ì¹´ë“œê²°ì œ   ëŒ€êµ¬
C004  ìµœì§€ì˜   2024ë…„ 3ì›” 8ì¼ 2024-03-10 13:15:00     ì—¬ì„± í–¥ìˆ˜   í™”ì¥í’ˆ   78000  ì¹´ë“œê²°ì œ   ì¸ì²œ
C005  ì •í•œì†”  2024ë…„ 3ì›” 22ì¼ 2024-03-24 09:30:00   ê²Œì´ë° ë§ˆìš°ìŠ¤  ì „ìê¸°ê¸°   65000  ì¹´ë“œê²°ì œ   ì„œìš¸

In [13]:
origin.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, C001 to C018
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ê³ ê°ëª…     30 non-null     object
 1   ì£¼ë¬¸ì¼     30 non-null     object
 2   ë°°ì†¡ì™„ë£Œì¼ì‹œ  30 non-null     datetime64[ns]
 3   ìƒí’ˆëª…     30 non-null     object
 4   ìƒí’ˆë¶„ë¥˜    30 non-null     object
 5   ì£¼ë¬¸ê¸ˆì•¡    30 non-null     int64
 6   ê²°ì œë°©ë²•    30 non-null     object
 7   ë°°ì†¡ì§€ì—­    30 non-null     object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 2.1+ KB

ğŸ“˜#02.ë¬¸ìì—´ì„ ë‚ ì§œ íƒ€ì…ìœ¼ë¡œ ë³€í™˜

In [14]:
df = origin.copy()

df['ì£¼ë¬¸ì¼_íƒ€ì…ë³€í™˜'] = to_datetime(df['ì£¼ë¬¸ì¼'], format='%Yë…„ %mì›” %dì¼')

print(df[['ì£¼ë¬¸ì¼', 'ì£¼ë¬¸ì¼_íƒ€ì…ë³€í™˜']].info())

df[['ì£¼ë¬¸ì¼', 'ì£¼ë¬¸ì¼_íƒ€ì…ë³€í™˜']].head()

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, C001 to C018
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ì£¼ë¬¸ì¼       30 non-null     object
 1   ì£¼ë¬¸ì¼_íƒ€ì…ë³€í™˜  30 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 720.0+ bytes
None

               ì£¼ë¬¸ì¼   ì£¼ë¬¸ì¼_íƒ€ì…ë³€í™˜
ê³ ê°ID
C001  2024ë…„ 1ì›” 15ì¼ 2024-01-15
C002   2024ë…„ 2ì›” 3ì¼ 2024-02-03
C003  2024ë…„ 2ì›” 14ì¼ 2024-02-14
C004   2024ë…„ 3ì›” 8ì¼ 2024-03-08
C005  2024ë…„ 3ì›” 22ì¼ 2024-03-22

ğŸ“˜#03.ë‹ì§œ íƒ€ì… ë°ì´í„°ì—ì„œ ì •ë³´ ì¶”ì¶œ

In [15]:
df['ì£¼ë¬¸ë…„ë„'] = df['ì£¼ë¬¸ì¼_íƒ€ì…ë³€í™˜'].dt.year
df['ì£¼ë¬¸ì›”'] = df['ì£¼ë¬¸ì¼_íƒ€ì…ë³€í™˜'].dt.month
df['ì£¼ë¬¸ì¼ì'] = df['ì£¼ë¬¸ì¼_íƒ€ì…ë³€í™˜'].dt.day

df[['ê³ ê°ëª…', 'ì£¼ë¬¸ì¼', 'ì£¼ë¬¸ë…„ë„', 'ì£¼ë¬¸ì›”', 'ì£¼ë¬¸ì¼ì']]

      ê³ ê°ëª…            ì£¼ë¬¸ì¼  ì£¼ë¬¸ë…„ë„  ì£¼ë¬¸ì›”  ì£¼ë¬¸ì¼ì
ê³ ê°ID
C001  ê¹€ë¯¼ìˆ˜   2024ë…„ 1ì›” 15ì¼  2024    1    15
C002  ì´ì˜í¬    2024ë…„ 2ì›” 3ì¼  2024    2     3
C003  ë°•ì² ìˆ˜   2024ë…„ 2ì›” 14ì¼  2024    2    14
C004  ìµœì§€ì˜    2024ë…„ 3ì›” 8ì¼  2024    3     8
C005  ì •í•œì†”   2024ë…„ 3ì›” 22ì¼  2024    3    22
C006  ê°•ë¯¸ë˜    2024ë…„ 4ì›” 5ì¼  2024    4     5
C007  ìœ¤ì„±í˜¸   2024ë…„ 4ì›” 20ì¼  2024    4    20
C008  ì„ì†Œì˜   2024ë…„ 5ì›” 12ì¼  2024    5    12
C009  ì¡°ë¯¼ì¬   2024ë…„ 5ì›” 25ì¼  2024    5    25
C010  í•œì§€ìš°    2024ë…„ 6ì›” 7ì¼  2024    6     7
C011  ì‹ ë™ìš±   2024ë…„ 6ì›” 21ì¼  2024    6    21
C012  ë°°ìˆ˜ì§„    2024ë…„ 7ì›” 4ì¼  2024    7     4
C013  ì˜¤í˜„ì„   2024ë…„ 7ì›” 18ì¼  2024    7    18
C014  ë¥˜ê°€ì€    2024ë…„ 8ì›” 1ì¼  2024    8     1
C015  ì„œì¤€í˜¸   2024ë…„ 8ì›” 15ì¼  2024    8    15
C016  ë‚¨ê¶ë¯¼    2024ë…„ 9ì›” 3ì¼  2024    9     3
C017  ë¬¸ì±„ì›   2024ë…„ 9ì›” 17ì¼  2024    9    17
C018  í™©ë³´ë¼   2024ë…„ 10ì›” 2ì¼  2024   10     2
C019  ì „ë¯¼í˜  2024ë…„ 10ì›” 16ì¼  2024   10    16
C020  ê³µìœ ì§„  2024ë…„ 10ì›” 30ì¼  2024   10    30
C021  ê¹€ì†Œí¬   2024ë…„ 11ì›” 8ì¼  2024   11     8
C022  ì´ì¤€ì˜  2024ë…„ 11ì›” 22ì¼  2024   11    22
C023  ë°•ì§€ë¯¼   2024ë…„ 12ì›” 5ì¼  2024   12     5
C024  ìµœìˆ˜í˜„  2024ë…„ 12ì›” 19ì¼  2024   12    19
C025  ì •ì˜ˆë¦°    2025ë…„ 1ì›” 2ì¼  2025    1     2
C001  ê¹€ë¯¼ìˆ˜   2025ë…„ 1ì›” 18ì¼  2025    1    18
C003  ë°•ì² ìˆ˜    2025ë…„ 2ì›” 8ì¼  2025    2     8
C007  ìœ¤ì„±í˜¸   2025ë…„ 2ì›” 22ì¼  2025    2    22
C012  ë°°ìˆ˜ì§„   2025ë…„ 3ì›” 15ì¼  2025    3    15
C018  í™©ë³´ë¼   2025ë…„ 3ì›” 29ì¼  2025    3    29

ğŸ“2.ìš”ì¼ ì •ë³´ ì¶”ì¶œ

In [16]:
df['ì£¼ë¬¸ìš”ì¼ì˜ë¬¸'] = df['ì£¼ë¬¸ì¼_íƒ€ì…ë³€í™˜'].dt.day_name()
df['ì£¼ë¬¸ìš”ì¼ë²ˆí˜¸'] = df['ì£¼ë¬¸ì¼_íƒ€ì…ë³€í™˜'].dt.dayofweek

ìš”ì¼ë§¤í•‘ = {0:'ì›”ìš”ì¼', 1:'í™”ìš”ì¼', 2:'ìˆ˜ìš”ì¼', 3:'ëª©ìš”ì¼',
        4:'ê¸ˆìš”ì¼', 5:'í† ìš”ì¼', 6:'ì¼ìš”ì¼'}
df['ì£¼ë¬¸ìš”ì¼'] = df['ì£¼ë¬¸ìš”ì¼ë²ˆí˜¸'].map(ìš”ì¼ë§¤í•‘)

df[['ê³ ê°ëª…', 'ì£¼ë¬¸ì¼', 'ì£¼ë¬¸ìš”ì¼ì˜ë¬¸', 'ì£¼ë¬¸ìš”ì¼ë²ˆí˜¸', 'ì£¼ë¬¸ìš”ì¼']].head()

      ê³ ê°ëª…           ì£¼ë¬¸ì¼     ì£¼ë¬¸ìš”ì¼ì˜ë¬¸  ì£¼ë¬¸ìš”ì¼ë²ˆí˜¸ ì£¼ë¬¸ìš”ì¼
ê³ ê°ID
C001  ê¹€ë¯¼ìˆ˜  2024ë…„ 1ì›” 15ì¼     Monday       0  ì›”ìš”ì¼
C002  ì´ì˜í¬   2024ë…„ 2ì›” 3ì¼   Saturday       5  í† ìš”ì¼
C003  ë°•ì² ìˆ˜  2024ë…„ 2ì›” 14ì¼  Wednesday       2  ìˆ˜ìš”ì¼
C004  ìµœì§€ì˜   2024ë…„ 3ì›” 8ì¼     Friday       4  ê¸ˆìš”ì¼
C005  ì •í•œì†”  2024ë…„ 3ì›” 22ì¼     Friday       4  ê¸ˆìš”ì¼

ğŸ“3.ë¶„ê¸°ì™€ ëª‡ ë²ˆì§¸ ë‚ ì§œì¸ì§€ ì¶”ì¶œ

In [17]:
df['ì£¼ë¬¸ë¶„ê¸°'] = df['ì£¼ë¬¸ì¼_íƒ€ì…ë³€í™˜'].dt.quarter
df['ì—°ì¤‘ëª‡ì¼ì§¸'] = df['ì£¼ë¬¸ì¼_íƒ€ì…ë³€í™˜'].dt.dayofyear

df[['ê³ ê°ëª…', 'ì£¼ë¬¸ì¼', 'ì£¼ë¬¸ë¶„ê¸°','ì—°ì¤‘ëª‡ì¼ì§¸']].head()

      ê³ ê°ëª…           ì£¼ë¬¸ì¼  ì£¼ë¬¸ë¶„ê¸°  ì—°ì¤‘ëª‡ì¼ì§¸
ê³ ê°ID
C001  ê¹€ë¯¼ìˆ˜  2024ë…„ 1ì›” 15ì¼     1     15
C002  ì´ì˜í¬   2024ë…„ 2ì›” 3ì¼     1     34
C003  ë°•ì² ìˆ˜  2024ë…„ 2ì›” 14ì¼     1     45
C004  ìµœì§€ì˜   2024ë…„ 3ì›” 8ì¼     1     68
C005  ì •í•œì†”  2024ë…„ 3ì›” 22ì¼     1     82

ğŸ“4.ì‹œ/ë¶„/ì´ˆ ì¶”ì¶œ

In [18]:
df['ë°°ì†¡ì™„ë£Œ-ì‹œê°„'] = df['ë°°ì†¡ì™„ë£Œì¼ì‹œ'].dt.hour
df['ë°°ì†¡ì™„ë£Œ-ë¶„'] = df['ë°°ì†¡ì™„ë£Œì¼ì‹œ'].dt.minute
df['ë°°ì†¡ì™„ë£Œ-ì´ˆ'] = df['ë°°ì†¡ì™„ë£Œì¼ì‹œ'].dt.second

df[['ê³ ê°ëª…', 'ë°°ì†¡ì™„ë£Œ-ì‹œê°„', 'ë°°ì†¡ì™„ë£Œ-ë¶„', 'ë°°ì†¡ì™„ë£Œ-ì´ˆ' ]].head()

      ê³ ê°ëª…  ë°°ì†¡ì™„ë£Œ-ì‹œê°„  ë°°ì†¡ì™„ë£Œ-ë¶„  ë°°ì†¡ì™„ë£Œ-ì´ˆ
ê³ ê°ID
C001  ê¹€ë¯¼ìˆ˜       14      30       0
C002  ì´ì˜í¬       16      20       0
C003  ë°•ì² ìˆ˜       11      45       0
C004  ìµœì§€ì˜       13      15       0
C005  ì •í•œì†”        9      30       0

ğŸ“˜#04.ë‚ ì§œ ê³„ì‚°í•˜ê¸°

In [19]:
df['ë°°ì†¡ì†Œìš”ì¼'] = (df['ë°°ì†¡ì™„ë£Œì¼ì‹œ']-df['ì£¼ë¬¸ì¼_íƒ€ì…ë³€í™˜']).dt.days
df[['ì£¼ë¬¸ì¼', 'ë°°ì†¡ì™„ë£Œì¼ì‹œ','ë°°ì†¡ì†Œìš”ì¼']].head()

               ì£¼ë¬¸ì¼              ë°°ì†¡ì™„ë£Œì¼ì‹œ  ë°°ì†¡ì†Œìš”ì¼
ê³ ê°ID
C001  2024ë…„ 1ì›” 15ì¼ 2024-01-17 14:30:00      2
C002   2024ë…„ 2ì›” 3ì¼ 2024-02-05 16:20:00      2
C003  2024ë…„ 2ì›” 14ì¼ 2024-02-16 11:45:00      2
C004   2024ë…„ 3ì›” 8ì¼ 2024-03-10 13:15:00      2
C005  2024ë…„ 3ì›” 22ì¼ 2024-03-24 09:30:00      2

ğŸ“2.ê²½ê³¼ì¼  êµ¬í•˜ê¸°

In [20]:
ì˜¤ëŠ˜ = dt.now()

df['ë°°ì†¡ì™„ë£Œí›„_ê²½ê³¼ì¼'] = (ì˜¤ëŠ˜-df['ë°°ì†¡ì™„ë£Œì¼ì‹œ']).dt.days
df[['ì£¼ë¬¸ì¼', 'ë°°ì†¡ì™„ë£Œì¼ì‹œ','ë°°ì†¡ì™„ë£Œí›„_ê²½ê³¼ì¼']].head()

               ì£¼ë¬¸ì¼              ë°°ì†¡ì™„ë£Œì¼ì‹œ  ë°°ì†¡ì™„ë£Œí›„_ê²½ê³¼ì¼
ê³ ê°ID
C001  2024ë…„ 1ì›” 15ì¼ 2024-01-17 14:30:00        683
C002   2024ë…„ 2ì›” 3ì¼ 2024-02-05 16:20:00        664
C003  2024ë…„ 2ì›” 14ì¼ 2024-02-16 11:45:00        654
C004   2024ë…„ 3ì›” 8ì¼ 2024-03-10 13:15:00        630
C005  2024ë…„ 3ì›” 22ì¼ 2024-03-24 09:30:00        617

ğŸ“3.ê¸°ì¤€ì¼ë¡œë¶€í„° ë…„/ì›”/ì¼ ë”í•˜ê¸°, ë¹¼ê¸°

(1)íŒŒì´ì¬ ë‚´ì¥ API ì‚¬ìš©

In [21]:
df['ì¬ì£¼ë¬¸ì˜ˆìƒì¼'] = df['ë°°ì†¡ì™„ë£Œì¼ì‹œ'] + td(days=30)

df[['ê³ ê°ëª…', 'ë°°ì†¡ì™„ë£Œì¼ì‹œ','ì¬ì£¼ë¬¸ì˜ˆìƒì¼']].head()

      ê³ ê°ëª…              ë°°ì†¡ì™„ë£Œì¼ì‹œ              ì¬ì£¼ë¬¸ì˜ˆìƒì¼
ê³ ê°ID
C001  ê¹€ë¯¼ìˆ˜ 2024-01-17 14:30:00 2024-02-16 14:30:00
C002  ì´ì˜í¬ 2024-02-05 16:20:00 2024-03-06 16:20:00
C003  ë°•ì² ìˆ˜ 2024-02-16 11:45:00 2024-03-17 11:45:00
C004  ìµœì§€ì˜ 2024-03-10 13:15:00 2024-04-09 13:15:00
C005  ì •í•œì†” 2024-03-24 09:30:00 2024-04-23 09:30:00

(2)Pandas API ì‚¬ìš©

In [22]:
df['ASë³´ì¥ë§Œë£Œì¼'] = df['ì£¼ë¬¸ì¼_íƒ€ì…ë³€í™˜'] + DateOffset(years=1)

df['ë§¤ì¶œì§‘ê³„ì˜ˆì •ì¼'] = df['ì£¼ë¬¸ì¼_íƒ€ì…ë³€í™˜'] + DateOffset(months=3)

df['ë¦¬ë·°ìš”ì²­ì˜ˆì •'] = df['ë°°ì†¡ì™„ë£Œì¼ì‹œ'] + DateOffset(days=3,hours=12)

df[['ê³ ê°ëª…','ì£¼ë¬¸ì¼','ASë³´ì¥ë§Œë£Œì¼', 'ë§¤ì¶œì§‘ê³„ì˜ˆì •ì¼','ë¦¬ë·°ìš”ì²­ì˜ˆì •']].head()

      ê³ ê°ëª…           ì£¼ë¬¸ì¼    ASë³´ì¥ë§Œë£Œì¼    ë§¤ì¶œì§‘ê³„ì˜ˆì •ì¼              ë¦¬ë·°ìš”ì²­ì˜ˆì •
ê³ ê°ID
C001  ê¹€ë¯¼ìˆ˜  2024ë…„ 1ì›” 15ì¼ 2025-01-15 2024-04-15 2024-01-21 02:30:00
C002  ì´ì˜í¬   2024ë…„ 2ì›” 3ì¼ 2025-02-03 2024-05-03 2024-02-09 04:20:00
C003  ë°•ì² ìˆ˜  2024ë…„ 2ì›” 14ì¼ 2025-02-14 2024-05-14 2024-02-19 23:45:00
C004  ìµœì§€ì˜   2024ë…„ 3ì›” 8ì¼ 2025-03-08 2024-06-08 2024-03-14 01:15:00
C005  ì •í•œì†”  2024ë…„ 3ì›” 22ì¼ 2025-03-22 2024-06-22 2024-03-27 21:30:00

In [23]:
from hossam import load_data
from pandas import to_datetime,DateOffset
import datetime as dt
from datetime import datetime as dt
from datetime import timedelta as td

In [24]:
origin = load_data('shopping_orders')
origin.head()

[data] https://data.hossam.kr/data/lab03/shopping_orders.xlsx
[desc] ì–´ëŠ ì‡¼í•‘ëª°ì˜ ê³ ê°ë³„ ì£¼ë¬¸ ë‚´ì—­ ë°ì´í„°
[!] Cannot read metadata

      ê³ ê°ëª…           ì£¼ë¬¸ì¼              ë°°ì†¡ì™„ë£Œì¼ì‹œ       ìƒí’ˆëª…  ìƒí’ˆë¶„ë¥˜    ì£¼ë¬¸ê¸ˆì•¡  ê²°ì œë°©ë²• ë°°ì†¡ì§€ì—­
ê³ ê°ID
C001  ê¹€ë¯¼ìˆ˜  2024ë…„ 1ì›” 15ì¼ 2024-01-17 14:30:00    ë¬´ì„  ì´ì–´í°  ì „ìê¸°ê¸°   89000  ì¹´ë“œê²°ì œ   ì„œìš¸
C002  ì´ì˜í¬   2024ë…„ 2ì›” 3ì¼ 2024-02-05 16:20:00     ê²¨ìš¸ ì½”íŠ¸    ì˜ë¥˜  156000  ê³„ì¢Œì´ì²´   ë¶€ì‚°
C003  ë°•ì² ìˆ˜  2024ë…„ 2ì›” 14ì¼ 2024-02-16 11:45:00  ë°œë Œíƒ€ì¸ ì´ˆì½œë¦¿    ì‹í’ˆ   25000  ì¹´ë“œê²°ì œ   ëŒ€êµ¬
C004  ìµœì§€ì˜   2024ë…„ 3ì›” 8ì¼ 2024-03-10 13:15:00     ì—¬ì„± í–¥ìˆ˜   í™”ì¥í’ˆ   78000  ì¹´ë“œê²°ì œ   ì¸ì²œ
C005  ì •í•œì†”  2024ë…„ 3ì›” 22ì¼ 2024-03-24 09:30:00   ê²Œì´ë° ë§ˆìš°ìŠ¤  ì „ìê¸°ê¸°   65000  ì¹´ë“œê²°ì œ   ì„œìš¸

In [25]:
origin.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, C001 to C018
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ê³ ê°ëª…     30 non-null     object
 1   ì£¼ë¬¸ì¼     30 non-null     object
 2   ë°°ì†¡ì™„ë£Œì¼ì‹œ  30 non-null     datetime64[ns]
 3   ìƒí’ˆëª…     30 non-null     object
 4   ìƒí’ˆë¶„ë¥˜    30 non-null     object
 5   ì£¼ë¬¸ê¸ˆì•¡    30 non-null     int64
 6   ê²°ì œë°©ë²•    30 non-null     object
 7   ë°°ì†¡ì§€ì—­    30 non-null     object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 2.1+ KB

ğŸ“˜#02.ë¬¸ìì—´ì„ ë‚ ì§œë¡œ ë³€í™˜