In [4]:
import numpy as np
from pandas import Series

In [8]:
# 리스트를 활용한 객체 생성
my_array = [100,200,300]
s1 = Series(my_array)
s1

0    100
1    200
2    300
dtype: int64

In [11]:
# ndarray를 통한 객체 생성
my_array = np.array([100,200,300])
s2 = Series(my_array)
s2

0    100
1    200
2    300
dtype: int64

In [13]:
# 딕셔너리를 통한 객체 생성
my_array = {"hello":123, "world":456, "nice":789}
s3 = Series(my_array)
s3

hello    123
world    456
nice     789
dtype: int64

In [17]:
my_array = Series({"hello":123, "world":456, "nice":789})
my_array.dtype

dtype('int64')

In [20]:
my_array.info()

<class 'pandas.core.series.Series'>
Index: 3 entries, hello to nice
Series name: None
Non-Null Count  Dtype
--------------  -----
3 non-null      int64
dtypes: int64(1)
memory usage: 156.0+ bytes

In [25]:
my_series = Series([10,20,30,40])
print("==인덱싱==")
print(my_series[0])
print("==슬라이싱==")
print(my_series[1:3])

==인덱싱==
10
==슬라이싱==
1    20
2    30
dtype: int64

In [28]:
# 딕셔너리를 통해 생성
my_series = Series({"a":100, "b":200, "c":300, "d":400})

print("==인덱싱==")
print(my_series["a"])


print("==슬라이싱==")
print(my_series["b":"d"])

==인덱싱==
100
==슬라이싱==
b    200
c    300
d    400
dtype: int64

In [35]:
# value 프로퍼티
mylist = list(my_series)
print(type(my_series.values))
my_series.values

<class 'numpy.ndarray'>

array([100, 200, 300, 400])

In [37]:
mylist = list(my_series.values)
mylist

[np.int64(100), np.int64(200), np.int64(300), np.int64(400)]

In [41]:
my_series = Series({"a":100, "b":200, "c":300, "d":400})
print(type(my_series.index))
my_series.index

<class 'pandas.core.indexes.base.Index'>

Index(['a', 'b', 'c', 'd'], dtype='object')

In [44]:
mylist = list(my_series.index)
mylist

['a', 'b', 'c', 'd']