#04. Restful API 연동

In [28]:
# 라이브러리 불러오기
import requests 
from pandas import DataFrame

In [29]:
# GET 방식 요청 - 단일행 데이터 조회
# 데이터 요청하기

with requests.Session() as session:
    session.headers.update({
        "User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
    })

    url = "http://127.0.0.1:9091/departments/201"
    r = session.get(url)

    if r.status_code != 200:
        msg = "[%d Error] %s 에러가 발생함" % (r.status_code, r.reason)
        raise Exception(msg)
    
    print(r)

<Response [200]>

In [30]:
# 수신 응답 결과 확인
r.encoding = "utf-8"
my_dict = r.json()
my_dict

{'result': {'dname': '전자공학과',
  'email': 'ee@myschool.ac.kr',
  'established': 1985,
  'homepage': 'http://ee.myschool.ac.kr',
  'id': 201,
  'loc': '공학관',
  'phone': '051-125-4567'},
 'timestamp': '2025-11-04 16:30:23'}

In [31]:
# 필요한 데이터만 추출
print("학과번호", my_dict["result"]["id"])
print("학과이름", my_dict["result"]["dname"])
print("위치:", my_dict["result"]["loc"])
print("연락처:", my_dict["result"]["phone"])
print("이메일:", my_dict["result"]["email"])
print("설립년도:", my_dict["result"]["established"])
print("홈페이지:", my_dict["result"]["homepage"])

학과번호 201
학과이름 전자공학과
위치: 공학관
연락처: 051-125-4567
이메일: ee@myschool.ac.kr
설립년도: 1985
홈페이지: http://ee.myschool.ac.kr

# GET 방식 요청-다중행 데이터 조회

In [32]:
# 데이터 요청하기
with requests.Session() as session:
    session.headers.update({
        "User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
    })

    url = "http://127.0.0.1:9091/departments"
    r = session.get(url)

    if r.status_code != 200:
        msg = "[%d Error] %s 에러가 발생함" % (r.status_code, r.reason)
        raise Exception(msg)
    print(r)

<Response [200]>

In [34]:
# 응답결과를 데이터 프레임으로 변환
r.encoding = "utf-8"
my_dict = r.json()
df = DataFrame(my_dict['result'])
df

      dname                  email   id    loc         phone
0    컴퓨터공학과      cs@myschool.ac.kr  101    공학관  051-123-4567
1   소프트웨어학과   media@myschool.ac.kr  102   디자인관  051-124-4567
2     전자공학과      ee@myschool.ac.kr  201    공학관  051-125-4567
3     기계공학과      me@myschool.ac.kr  202    공학관  051-126-4567
4      건축학과    arch@myschool.ac.kr  203    건축관  051-127-4567
5   산업디자인학과      id@myschool.ac.kr  204   디자인관  051-128-4567
6      경영학과     biz@myschool.ac.kr  301    경영관  051-129-4567
7      경제학과    econ@myschool.ac.kr  302    경영관  051-130-4567
8    영어영문학과     eng@myschool.ac.kr  401  인문사회관  051-131-4567
9      심리학과     psy@myschool.ac.kr  402  인문사회관  051-132-4567
10   인공지능학과      ai@myschool.ac.kr  500    공학관  051-123-4567
11   사회복지학과  social@myschool.ac.kr  501    인문관  051-432-2233
12     심리학과    psyc@myschool.ac.kr  502    인문관  051-336-7788
13     체육학과     phy@myschool.ac.kr  503    체육관  051-434-3345
14   Python  python@myschool.ac.kr  504      관  052-123-4567

# POST방식 요청-데이터 저장하기

In [71]:
# 저장할 데이터 구성하기
params = {
    "dname":"아이티윌학과",
    "loc":"아이티윌관",
    "phone":"052-7778-9900",
    "email":"music@myschool.ac.kr",
    "established":2025,
    "homepage":"http://GYULL.myschool.ac.kr"
}

In [72]:
# 데이터 저장 요청하기
with requests.Session() as session:
    session.headers.update({
        "User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
    })

    url = "http://192.168.24.31:9091/departments"
    r = session.post(url, data=params)

    if r.status_code != 200:
        msg = "[%d Error] %s 에러가 발생함" % (r.status, r.reason)
        raise Exception(msg)
    print(r)

<Response [200]>

In [73]:
# 저장된 데이터 확인
r.encoding = "utf-8"
my_dict = r.json()
print("학과번호:", my_dict["result"]["id"])
print("학과이름:", my_dict["result"]["dname"])
print("위치:", my_dict["result"]["loc"])
print("연락처:", my_dict["result"]["phone"])
print("이메일:", my_dict["result"]["email"])
print("설립년도:", my_dict["result"]["established"])
print("홈페이지지:", my_dict["result"]["homepage"])

new_pk = my_dict["result"]["id"]

학과번호: 511
학과이름: 아이티윌학과
위치: 아이티윌관
연락처: 052-7778-9900
이메일: music@myschool.ac.kr
설립년도: 2025
홈페이지지: http://GYULL.myschool.ac.kr

# PUT 방식요청-데이터 수정하기

In [76]:
# 수정할 데이터 구성하기
params = {
    "dname" : "감귤포장학과", 
    "loc": "감귤관",
    "phone":"052-7766-8899",
    "email":"GAMGYULL@myschool.ac.kr",
    "established" : 2025,
    "homepage": "http://GYULL.myschool.ac.kr"
}

In [77]:
# 데이터 수정 요청하기
with requests.Session() as session:
    session.headers.update({
        "User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
    })

    url = "http://192.168.24.31:9091/departments/%d" % new_pk
    r = session.put(url, data = params)

    if r.status_code != 200:
        msg = "[%d Error] %s 에러가 발생함" % (r.status_code, r.reason)
        raise Exception(msg)
    
    print(r)

<Response [200]>