In [27]:
from hossam import load_data
from matplotlib import pyplot as plt
import seaborn as sb
from pandas import DataFrame
from pandas import pivot_table
import numpy as np
import pandas as pd

# boston 데이터 작업

In [5]:
origin1 = load_data('boston')
origin1

[data] https://data.hossam.kr/data/kaggle/boston.xlsx
[desc] 보스턴 인근 지역의 인구·환경·교육·범죄·세금 정보 등을 기반으로 주택의 중위가격(MEDV)을 예측하기 위해 수집된 대표적인 회귀 분석용 주택시장 데이터 (출처: https://www.kaggle.com/datasets/altavish/boston-housing-dataset)

field    description
-------  ---------------------------------------------------------------------------------------
CRIM     타운별 1인당 범죄율 (Per capita crime rate by town)
ZN       25,000 sqft 이상 주거용 대지 비율 (Proportion of residential land zoned for large lots)
INDUS    비소매 상업구역 비율 (Proportion of non-retail business acres per town)
CHAS     찰스강 인접 여부 (Charles River dummy variable: 1 if tract bounds river; 0 otherwise)
NOX      대기 오염 정도 (Nitric oxides concentration, parts per 10 million)
RM       주택당 평균 방(Room) 수 (Average number of rooms per dwelling)
AGE      1940년 이전 건축 비율 (Proportion of owner-occupied units built prior to 1940)
DIS      5개 주요 고용센터까지의 거리 (Weighted distances to five Boston employment centers)
RAD      고속도로 접근성 지수 (Index of accessibility to radial highways)
TAX      재산세율 (Full-value property-tax rate per $10,000)
PTRATIO  교육구 학생-교사 비율 (Pupil–teacher ratio by town)
B        흑인 비율 지수 (1000(Bk − 0.63)²; Bk = proportion of Black residents)
LSTAT    저소득층 비율 (%) (Percentage of lower status population)
MEDV     주택 가격 중앙값(단위: $1,000) (Median value of owner-occupied homes in $1000s)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [75]:
# 전처리
df1 = origin1.reset_index()
df1.filter(['MEDV',0]).groupby('MEDV').mean()

Empty DataFrame
Columns: []
Index: [5.0, 5.6, 6.3, 7.0, 7.2, 7.4, 7.5, 8.1, 8.3, 8.4, 8.5, 8.7, 8.8, 9.5, 9.6, 9.7, 10.2, 10.4, 10.5, 10.8, 10.9, 11.0, 11.3, 11.5, 11.7, 11.8, 11.9, 12.0, 12.1, 12.3, 12.5, 12.6, 12.7, 12.8, 13.0, 13.1, 13.2, 13.3, 13.4, 13.5, 13.6, 13.8, 13.9, 14.0, 14.1, 14.2, 14.3, 14.4, 14.5, 14.6, 14.8, 14.9, 15.0, 15.1, 15.2, 15.3, 15.4, 15.6, 15.7, 16.0, 16.1, 16.2, 16.3, 16.4, 16.5, 16.6, 16.7, 16.8, 17.0, 17.1, 17.2, 17.3, 17.4, 17.5, 17.6, 17.7, 17.8, 17.9, 18.0, 18.1, 18.2, 18.3, 18.4, 18.5, 18.6, 18.7, 18.8, 18.9, 19.0, 19.1, 19.2, 19.3, 19.4, 19.5, 19.6, 19.7, 19.8, 19.9, 20.0, 20.1, ...]

[229 rows x 0 columns]

In [27]:
df2 = pivot_table(origin1,
                  index = 'TAX',
                  columns = 'PTRATIO',
                  values = 'CRIM',
                  aggfunc = 'mean')
df2

PTRATIO,12.6,13.0,13.6,14.4,14.7,14.8,14.9,15.1,15.2,15.3,...,19.2,19.6,19.7,20.1,20.2,20.9,21.0,21.1,21.2,22.0
TAX,,,,,,,,,,,,,,,,,,,,,
187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,NaN,NaN,0.01501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,NaN,NaN,NaN,NaN,NaN,NaN,0.086125,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.589432,NaN
469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0136,NaN,NaN
666,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12.759291,NaN,NaN,NaN,NaN,NaN
711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.15175,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
import pandas as pd
origin1['MEDV_BIN'] = pd.cut(origin1['MEDV'], bins=5)

# RAD별 평균 MEDV 분석
df2 = origin1.groupby('RAD')['MEDV'].mean()
df2

RAD
1     24.365000
2     26.833333
3     27.928947
4     21.387273
5     25.706957
6     20.976923
7     27.105882
8     30.358333
24    16.403788
Name: MEDV, dtype: float64

In [21]:
df = origin1.groupby('LSTAT')['MEDV'].mean()
df

LSTAT
1.73     50.0
1.92     50.0
1.98     34.9
2.47     41.7
2.87     36.4
         ...
34.37    17.9
34.41    14.4
34.77    13.8
36.98     7.0
37.97    13.8
Name: MEDV, Length: 455, dtype: float64

In [16]:
origin1['MEDV'].max()

np.float64(50.0)

In [18]:
origin1['RAD'].max()

np.int64(24)

In [ ]:
RAD = 고속도로 접근성 지수
MEDV = 주택 가격 중앙값

고속도로 접근성 지수가 높을수록 주택 가격 중앙값이 낮다고 판단.

In [79]:
df3 = pd.pivot_table(origin1, index = 'MEDV_BIN', values = 'LSTAT', aggfunc = 'mean')
df3

C:\Users\itwill\AppData\Local\Temp\ipykernel_15652\2191724727.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  df3 = pd.pivot_table(origin1, index = 'MEDV_BIN', values = 'LSTAT', aggfunc = 'mean')

                   LSTAT
MEDV_BIN
(4.955, 14.0]  23.084416
(14.0, 23.0]   13.773724
(23.0, 32.0]    8.189837
(32.0, 41.0]    5.463611
(41.0, 50.0]    4.160968

In [74]:
df2.head()

RAD
1    24.365000
2    26.833333
3    27.928947
4    21.387273
5    25.706957
Name: MEDV, dtype: float64

In [63]:
origin1['DIS_BIN'] = pd.cut(origin1['DIS'], bins = 3)

df3 = pd.pivot_table(
    origin1,
    index = 'TAX',
    columns = 'DIS_BIN',
    values = 'CRIM',
    aggfunc = 'sum'
)
df3    
# 거리간격이 넓을수록 범죄율이 높아진닫다.

C:\Users\itwill\AppData\Local\Temp\ipykernel_15652\422727086.py:3: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  df3 = pd.pivot_table(

DIS_BIN  (1.119, 4.795]  (4.795, 8.461]  (8.461, 12.126]
TAX
187             0.00000         0.00000          0.01709
188             1.03887         0.00000          0.00000
193             0.58324         0.00000          0.00000
198             0.00000         0.01501          0.00000
216             0.24616         0.09834          0.01951
..                  ...             ...              ...
432             1.31780         0.00000          0.00000
437             8.84148         0.00000          0.00000
469             0.00000         0.01360          0.00000
666          1684.22640         0.00000          0.00000
711             0.75875         0.00000          0.00000

[66 rows x 3 columns]

In [28]:
origin1['MDEV_BIN'] = pd.cut(origin1['MEDV'], bins =3)

df = pd.pivot_table(
    origin1,
    index='RAD',
    columns='MDEV_BIN',
    values='MDEV',
    aggfunc = 'sum'
)

NameError: name 'origin1' is not defined

In [3]:
origin2 = load_data('insurance')
origin2

[data] https://data.hossam.kr/data/kaggle/insurance.xlsx
[desc] 개인의 나이·성별·BMI·흡연 여부·거주 지역 등 기본 건강·인구학적 정보를 바탕으로 의료보험 청구 비용(charges)을 예측하도록 구성된, 선형회귀와 머신러닝 실습에 널리 사용되는 대표적인 보험 비용 데이터셋 (출처: https://www.kaggle.com/datasets/mirichoi0218/insurance)

변수명    의미(설명)
--------  ---------------------------------------------------------------
age       가입자의 나이(세).
sex       성별 (male, female).
bmi       체질량 지수(Body Mass Index).
children  부양 자녀 수(보험 내 자녀 수).
smoker    흡연 여부 (yes / no).
region    미국 내 거주 지역 (northeast, northwest, southeast, southwest).
charges   의료보험 청구 비용(달러). 예측해야 하는 타깃 변수.

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [8]:

o2_df = pd.pivot_table(origin2, index = 'age', values = 'charges', aggfunc = 'mean')
o2_df

          charges
age
18    7086.217556
19    9747.909335
20   10159.697736
21    4730.464330
22   10012.932802
23   12419.820040
24   10648.015962
25    9838.365311
26    6133.825309
27   12184.701721
28    9069.187564
29   10430.158727
30   12719.110358
31   10196.980573
32    9220.300291
33   12351.532987
34   11613.528121
35   11307.182031
36   12204.476138
37   18019.911877
38    8102.733674
39   11778.242945
40   11772.251310
41    9653.745650
42   13061.038669
43   19267.278653
44   15859.396587
45   14830.199856
46   14342.590639
47   17653.999593
48   14632.500445
49   12696.006264
50   15663.003301
51   15682.255867
52   18256.269719
53   16020.930755
54   18758.546475
55   16164.545488
56   15025.515837
57   16447.185250
58   13878.928112
59   18895.869532
60   21979.418507
61   22024.457609
62   19163.856573
63   19884.998461
64   23275.530837

In [20]:
origin2['bmi_bin'] = pd.cut(origin2['bmi'], bins=3)
o2_df2 = origin2.groupby('bmi_bin')['charges'].mean()
o2_df2

C:\Users\itwill\AppData\Local\Temp\ipykernel_20492\4215545131.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  o2_df2 = origin2.groupby('bmi_bin')['charges'].mean()

bmi_bin
(15.923, 28.35]    10886.993908
(28.35, 40.74]     14447.665794
(40.74, 53.13]     17437.883335
Name: charges, dtype: float64

In [31]:
o2_df3 = pd.pivot_table(
          origin2,
          index = 'age',
          columns = 'bmi_bin',
          values = 'charges',
          aggfunc='sum')
o2_df3

C:\Users\itwill\AppData\Local\Temp\ipykernel_20492\3000870481.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  o2_df3 = pd.pivot_table(

bmi_bin  (15.923, 28.35]  (28.35, 40.74]  (40.74, 53.13]
age
18          144023.32297   302673.347619     42252.34080
19          184522.92810   438612.160450     39722.74620
20          115815.05165   178816.182700         0.00000
21           67468.99680    64984.004430         0.00000
22           26371.66380   209489.056450     44501.39820
23          104439.35243   198136.072080     45179.53660
24           91369.45513   206774.991810         0.00000
25           82205.81508   130038.841640     63229.57198
26           54359.86570   111049.854240      6337.38870
27           71835.40860   226031.053900     43305.18570
28          104856.83683   149080.414970         0.00000
29          101196.85540   180417.430230         0.00000
30           89124.19800   245271.979070      9019.80260
31           57687.41920   217631.056280         0.00000
32           98327.84806   128729.552000     12670.40750
33          109881.36501   186904.541190     24353.95147
34          119043.52162   173247.761820      9660.44770
35           98360.51825   178472.114930      5846.91760
36           85174.39970   176184.166700     43753.33705
37           80070.18395   317878.478280     52549.13470
38           93278.83760   109289.504250         0.00000
39          141588.01735   135092.147130     17775.90915
40          106353.62160   170971.569980     40525.59379
41           40780.17504   219870.957500         0.00000
42          201837.87206   143159.398250      7650.77375
43          207798.00035   266555.318290     45863.20500
44           97960.27780   284042.444950     46200.98510
45          162661.36307   267414.432760         0.00000
46          131281.93107   220125.032550     64528.16490
47          207611.03917   287701.167430     16653.78160
48          107151.73275   306157.118460     11033.66170
49          152839.67330   181870.407600     20778.09450
50          196970.49278   229106.611990     28149.99095
51          124432.32110   282890.205050     47462.89400
52          171118.16557   277290.672190     81022.98410
53          156407.21335   282674.537490      9504.31030
54          120691.51198   329238.940320     75308.84901
55           80676.50567   327115.876130     12485.80090
56          127564.27560   252005.513250     11093.62290
57          115727.69486   240081.173390     71817.94825
58           71394.83570   239969.704450     35608.66264
59          154553.22875   268873.261940     48970.24760
60          118765.41062   338087.656250     48673.55880
61          106584.67631   374339.916690     25637.93200
62           96255.96465   344512.736540         0.00000
63          144006.07765   284388.307900     28960.57905
64          142845.01972   369216.658700         0.00000

In [7]:
origin3 = load_data('california')
origin3

[data] https://data.hossam.kr/data/kaggle/california.xlsx
[desc] 1990년 미국 인구조사(Census)를 기반으로 캘리포니아 각 지역의 인구·주택·소득 특성과 주택 중위가격을 담아, 회귀 분석과 머신러닝 모델 실습에 널리 사용되는 대표적인 주택 가격 데이터 (출처: https://www.kaggle.com/datasets/camnugent/california-housing-prices)

field               description
------------------  ------------------------------------------------------------------------------
longitude           경도(Longitude). 서경(–값) 기준.
latitude            위도(Latitude). 북위(+) 기준.
housing_median_age  해당 구역(블록 그룹)의 주택 중위 연령(년).
total_rooms         구역 내 모든 주택의 총 방(room) 수 합계.
total_bedrooms      구역 내 모든 주택의 총 침실(bedroom) 수 합계.
population          구역의 전체 인구 수.
households          구역의 전체 “가구 수”(living units).
median_income       구역의 중위 소득(median income), 단위는 약 1 = $10,000 수준.
median_house_value  주택 중위가격(달러). 회귀의 목표변수(타깃).
ocean_proximity     해안과의 거리/접근성 범주: <1H OCEAN, INLAND, NEAR BAY, NEAR OCEAN, ISLAND 등.

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41,880,129.0,322,126,8.3252,452600,NEAR BAY
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,358500,NEAR BAY
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,352100,NEAR BAY
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,341300,NEAR BAY
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,342200,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25,1665,374.0,845,330,1.5603,78100,INLAND
20636,-121.21,39.49,18,697,150.0,356,114,2.5568,77100,INLAND
20637,-121.22,39.43,17,2254,485.0,1007,433,1.7000,92300,INLAND
20638,-121.32,39.43,18,1860,409.0,741,349,1.8672,84700,INLAND
20639,-121.24,39.37,16,2785,616.0,1387,530,2.3886,89400,INLAND