In [82]:
from sqlalchemy import create_engine, text


config = {
    'username': 'root',
    'password': '5180',
    'hostname': 'localhost',
    'port': 3306,
    'database': 'myschool',
    'charset': 'utf8mb4'
}

con_str_tpl = "mysql+pymysql://{username}:{password}@{hostname}:{port}/{database}?charset={charset}"

con_str = con_str_tpl.format(**config)
print(con_str)


try:
    engine = create_engine(con_str)
    conn = engine.connect()
    print("Database connect succes!!!")

except Exception as e:
    print("Database connect fail!!!", e)

mysql+pymysql://root:5180@localhost:3306/myschool?charset=utf8mb4
Database connect succes!!!

In [83]:
student_id = input("ê²€ìƒ‰í•  í•™ë²ˆì„ ì…ë ¥í•˜ì„¸ìš”")

sql = text("SELECT id, name, grade, department_id FROM students WHERE id = :student_id")
# ë¬¸ìì—´ì´ë¼ì„œ í™‘ë”°ìš¤í‘œ ì‚¬ìš©
params = {"student_id" : student_id}
# sql ë¬¸ì˜ ë¬¼ìŒí‘œë¥¼ ì¹˜í™˜í•  ê°’ì„ ë”•ì…”ë„ˆë¦¬ë¡œ ë¬¶ìŒ(ë¬¼ìŒí‘œ ìˆœì„œì— ë”°ë¼ ì¡°í•©)


try:
    result = conn.execute(sql, params)

except Exception as e:
    print("[SQL ERROR]", e)
    raise SystemExit

resultset = result.mappings().all()
print(resultset)

[]

In [84]:
sql = text("SELECT id, dname, loc, phone, email FROM departments LIMIT 0, 5")

try: 
   result = conn.execute(sql)

except Exception as e:
    print(["SQL ERROR"], e)
    raise SystemExit

resultset = result.mappings().all()
resultset

[{'id': 101, 'dname': 'ì»´í“¨í„°ê³µí•™ê³¼', 'loc': 'ê³µí•™ê´€', 'phone': '051-123-4567', 'email': 'cs@myschool.ac.kr'},
 {'id': 102, 'dname': 'ì†Œí”„íŠ¸ì›¨ì–´í•™ê³¼', 'loc': 'ë””ìì¸ê´€', 'phone': '051-124-4567', 'email': 'media@myschool.ac.kr'},
 {'id': 201, 'dname': 'ì „ìê³µí•™ê³¼', 'loc': 'ê³µí•™ê´€', 'phone': '051-125-4567', 'email': 'ee@myschool.ac.kr'},
 {'id': 202, 'dname': 'ê¸°ê³„ê³µí•™ê³¼', 'loc': 'ê³µí•™ê´€', 'phone': '051-126-4567', 'email': 'me@myschool.ac.kr'},
 {'id': 203, 'dname': 'ê±´ì¶•í•™ê³¼', 'loc': 'ê±´ì¶•ê´€', 'phone': '051-127-4567', 'email': 'arch@myschool.ac.kr'}]

In [85]:
print("ì´ %dê±´ì˜ ë°ì´í„° ì¡°íšŒë¨" % len(resultset))

tmpl = "í•™ê³¼ë²ˆí˜¸: {id}, í•™ê³¼ì´ë¦„:{dname}, ìœ„ì¹˜:{loc}, ì—°ë½ì²˜:{phone}, ì´ë©”ì¼:{email}"

for row in resultset:
    print(tmpl.format(**row))

ì´ 5ê±´ì˜ ë°ì´í„° ì¡°íšŒë¨
í•™ê³¼ë²ˆí˜¸: 101, í•™ê³¼ì´ë¦„:ì»´í“¨í„°ê³µí•™ê³¼, ìœ„ì¹˜:ê³µí•™ê´€, ì—°ë½ì²˜:051-123-4567, ì´ë©”ì¼:cs@myschool.ac.kr
í•™ê³¼ë²ˆí˜¸: 102, í•™ê³¼ì´ë¦„:ì†Œí”„íŠ¸ì›¨ì–´í•™ê³¼, ìœ„ì¹˜:ë””ìì¸ê´€, ì—°ë½ì²˜:051-124-4567, ì´ë©”ì¼:media@myschool.ac.kr
í•™ê³¼ë²ˆí˜¸: 201, í•™ê³¼ì´ë¦„:ì „ìê³µí•™ê³¼, ìœ„ì¹˜:ê³µí•™ê´€, ì—°ë½ì²˜:051-125-4567, ì´ë©”ì¼:ee@myschool.ac.kr
í•™ê³¼ë²ˆí˜¸: 202, í•™ê³¼ì´ë¦„:ê¸°ê³„ê³µí•™ê³¼, ìœ„ì¹˜:ê³µí•™ê´€, ì—°ë½ì²˜:051-126-4567, ì´ë©”ì¼:me@myschool.ac.kr
í•™ê³¼ë²ˆí˜¸: 203, í•™ê³¼ì´ë¦„:ê±´ì¶•í•™ê³¼, ìœ„ì¹˜:ê±´ì¶•ê´€, ì—°ë½ì²˜:051-127-4567, ì´ë©”ì¼:arch@myschool.ac.kr

In [86]:
import pandas as pd

df1 = pd.DataFrame(resultset)
df1

     dname                 email   id   loc         phone
0   ì»´í“¨í„°ê³µí•™ê³¼     cs@myschool.ac.kr  101   ê³µí•™ê´€  051-123-4567
1  ì†Œí”„íŠ¸ì›¨ì–´í•™ê³¼  media@myschool.ac.kr  102  ë””ìì¸ê´€  051-124-4567
2    ì „ìê³µí•™ê³¼     ee@myschool.ac.kr  201   ê³µí•™ê´€  051-125-4567
3    ê¸°ê³„ê³µí•™ê³¼     me@myschool.ac.kr  202   ê³µí•™ê´€  051-126-4567
4     ê±´ì¶•í•™ê³¼   arch@myschool.ac.kr  203   ê±´ì¶•ê´€  051-127-4567

In [87]:
df1 = pd.DataFrame(resultset)
df1

     dname                 email   id   loc         phone
0   ì»´í“¨í„°ê³µí•™ê³¼     cs@myschool.ac.kr  101   ê³µí•™ê´€  051-123-4567
1  ì†Œí”„íŠ¸ì›¨ì–´í•™ê³¼  media@myschool.ac.kr  102  ë””ìì¸ê´€  051-124-4567
2    ì „ìê³µí•™ê³¼     ee@myschool.ac.kr  201   ê³µí•™ê´€  051-125-4567
3    ê¸°ê³„ê³µí•™ê³¼     me@myschool.ac.kr  202   ê³µí•™ê´€  051-126-4567
4     ê±´ì¶•í•™ê³¼   arch@myschool.ac.kr  203   ê±´ì¶•ê´€  051-127-4567

In [88]:
keyword = input("ê²€ìƒ‰í•  êµìˆ˜ëª…ì„ ì…ë ¥í•˜ì„¸ìš”.")

sql = text("""SELECT
            p.id AS êµìˆ˜ë²ˆí˜¸, p.name AS ì´ë¦„, position AS ì§ê¸‰, sal AS ê¸‰ì—¬, comm AS ë³´ì§ìˆ˜ë‹¹, hiredate AS ì…ì‚¬ì¼ì‹œ, dname AS ì†Œì†í•™ê³¼ 
        FROM professors p
        INNER JOIN departments d ON p.department_id = d.id
        WHERE name LIKE concat('%', :keyword, '%')""")
           
try:
    result = conn.execute(sql, {"keyword": keyword})

except Exception as e:
    print("[SQL ERROR]", e)
    raise SystemExit

resultset = result.mappings().all()

df = DataFrame(resultset)
df

    êµìˆ˜ë²ˆí˜¸       ê¸‰ì—¬  ë³´ì§ìˆ˜ë‹¹      ì†Œì†í•™ê³¼   ì´ë¦„                ì…ì‚¬ì¼ì‹œ    ì§ê¸‰
0   9901      390   NaN    ì»´í“¨í„°ê³µí•™ê³¼  ì°¨ë¯¸ê²½ 2023-07-14 23:24:53  ì „ì„ê°•ì‚¬
1   9902      552   NaN   ì†Œí”„íŠ¸ì›¨ì–´í•™ê³¼  í—ˆê²½í¬ 1999-08-19 03:13:25  ì „ì„ê°•ì‚¬
2   9903      508   NaN   ì†Œí”„íŠ¸ì›¨ì–´í•™ê³¼  ì „ì¢…ìˆ˜ 2011-02-18 18:44:22   ì¡°êµìˆ˜
3   9904      479  28.0   ì†Œí”„íŠ¸ì›¨ì–´í•™ê³¼  ì´ì„±í›ˆ 2015-08-08 21:22:48   ì¡°êµìˆ˜
4   9905      392   NaN   ì†Œí”„íŠ¸ì›¨ì–´í•™ê³¼  ì´ì •ë‚¨ 1996-04-02 20:24:35   ë¶€êµìˆ˜
5   9906      300  21.0   ì†Œí”„íŠ¸ì›¨ì–´í•™ê³¼  ê¹€í˜„ì£¼ 2006-08-31 01:04:24    êµìˆ˜
6   9907      443  12.0     ì „ìê³µí•™ê³¼  ì´ì€ì˜ 1999-01-04 15:55:04  ì „ì„ê°•ì‚¬
7   9908      273  17.0     ì „ìê³µí•™ê³¼  ë°•ì„œì˜ 2011-07-22 02:10:41  ì „ì„ê°•ì‚¬
8   9909      392  24.0     ì „ìê³µí•™ê³¼  ê¹€ì •í›ˆ 2001-09-09 07:36:05    êµìˆ˜
9   9910      593   NaN     ì „ìê³µí•™ê³¼  ê°•ì˜í˜¸ 2011-04-03 07:37:22   ì¡°êµìˆ˜
10  9911      486  22.0     ì „ìê³µí•™ê³¼  ë°•ì˜ë¯¸ 2015-11-29 01:07:18   ì¡°êµìˆ˜
11  9912      266  20.0     ê¸°ê³„ê³µí•™ê³¼  ìœ¤ì„œí˜„ 2011-07-22 09:22:36   ì¡°êµìˆ˜
12  9913      358  30.0      ê±´ì¶•í•™ê³¼  ì¥ì •ì 2020-06-29 11:14:45   ë¶€êµìˆ˜
13  9914      385   NaN      ê±´ì¶•í•™ê³¼  ê¹€ì§€ì•„ 2002-08-06 23:35:57   ì¡°êµìˆ˜
14  9915      548  22.0      ê±´ì¶•í•™ê³¼  ì´ì˜¥ìˆœ 2023-11-15 15:17:27    êµìˆ˜
15  9916      274   NaN      ê±´ì¶•í•™ê³¼  ì´ì •ì‹ 2002-08-13 12:19:42  ì „ì„ê°•ì‚¬
16  9917      447  22.0      ê±´ì¶•í•™ê³¼  ë°•ê²½ìˆ˜ 2020-11-09 06:32:30  ì „ì„ê°•ì‚¬
17  9918      578   NaN   ì‚°ì—…ë””ìì¸í•™ê³¼  ì˜¤ë¯¸ì˜ 2010-06-17 07:32:06   ë¶€êµìˆ˜
18  9919      384   NaN      ê²½ì˜í•™ê³¼  ì´ëª…ìˆ™ 2002-12-03 07:22:12  ì „ì„ê°•ì‚¬
19  9920      328   NaN      ê²½ì˜í•™ê³¼  ì¥ì§€í›„ 2005-01-30 18:03:04   ì¡°êµìˆ˜
20  9921      500   NaN      ê²½ì˜í•™ê³¼  ë°•í˜„ìˆ™ 2001-03-19 05:40:14   ë¶€êµìˆ˜
21  9922      373   NaN      ê²½ì˜í•™ê³¼  ìµœì •ì 2007-07-05 05:28:22  ì „ì„ê°•ì‚¬
22  9923      315   NaN      ê²½ì œí•™ê³¼  ë°•ê²½í¬ 2001-06-13 22:19:25   ì¡°êµìˆ˜
23  9924      409  22.0    ì˜ì–´ì˜ë¬¸í•™ê³¼  í—ˆì˜ˆì§„ 2016-08-11 02:49:21   ì¡°êµìˆ˜
24  9925      376   NaN    ì˜ì–´ì˜ë¬¸í•™ê³¼  ë°•ì˜ì¼ 2019-06-10 05:26:28  ì „ì„ê°•ì‚¬
25  9926      253   NaN      ì‹¬ë¦¬í•™ê³¼  ê¹€ì •ì›… 2012-07-24 21:27:58   ì¡°êµìˆ˜
26  9927      300   NaN      ì‹¬ë¦¬í•™ê³¼  ì§„ì£¼ì› 2020-09-21 02:49:53   ë¶€êµìˆ˜
27  9928      526  14.0      ì‹¬ë¦¬í•™ê³¼  ì´ì˜ê¸¸ 2016-12-22 19:59:30   ì¡°êµìˆ˜
28  9929      300  13.0      ì‹¬ë¦¬í•™ê³¼  ìµœì˜ì‹ 2009-01-29 06:54:03   ì¡°êµìˆ˜
29  9930      277   NaN      ì‹¬ë¦¬í•™ê³¼  ë°•ìœ ì§„ 2011-05-25 13:10:56    êµìˆ˜
30  9931      510   NaN    ì»´í“¨í„°ê³µí•™ê³¼  ë°•íƒœìˆ˜ 2025-04-11 16:36:57   ë¶€êµìˆ˜
31  9932      520   NaN  ì†Œí”„íŠ¸ì›¨ì–´ê³µí•™ê³¼  ìµœì •í›ˆ 2018-03-02 00:00:00   ë¶€êµìˆ˜
32  9933  5100000   NaN    ì»´í“¨í„°ê³µí•™ê³¼  ë°•íƒœìˆ˜ 2025-10-10 11:46:25   ë¶€êµìˆ˜
33  9934  5100000   NaN    ì»´í“¨í„°ê³µí•™ê³¼  ë°•íƒœìˆ˜ 2025-10-10 11:50:07   ë¶€êµìˆ˜
34  9935  5100000   NaN    ì»´í“¨í„°ê³µí•™ê³¼  ë°•íƒœìˆ˜ 2025-10-10 11:50:44   ë¶€êµìˆ˜
35  9936  5100000   NaN    ì»´í“¨í„°ê³µí•™ê³¼  ë°•íƒœìˆ˜ 2025-10-10 11:50:44   ë¶€êµìˆ˜
36  9937  5100000   NaN    ì»´í“¨í„°ê³µí•™ê³¼  ë°•íƒœìˆ˜ 2025-10-10 11:50:46   ë¶€êµìˆ˜
37  9938  5100000   NaN    ì»´í“¨í„°ê³µí•™ê³¼  ë°•íƒœìˆ˜ 2025-10-10 11:50:47   ë¶€êµìˆ˜
38  9939  5100000   NaN    ì»´í“¨í„°ê³µí•™ê³¼  ë°•íƒœìˆ˜ 2025-10-10 11:50:50   ë¶€êµìˆ˜
39  9940  5100000   NaN    ì»´í“¨í„°ê³µí•™ê³¼  ë°•íƒœìˆ˜ 2025-10-10 11:50:50   ë¶€êµìˆ˜
40  9941  5100000   NaN    ì»´í“¨í„°ê³µí•™ê³¼  ë°•íƒœìˆ˜ 2025-10-10 11:50:52   ë¶€êµìˆ˜
41  9942  5100000   NaN    ì»´í“¨í„°ê³µí•™ê³¼  ë°•íƒœìˆ˜ 2025-10-10 11:50:52   ë¶€êµìˆ˜
42  9943  5100000   NaN    ì»´í“¨í„°ê³µí•™ê³¼  ë°•íƒœìˆ˜ 2025-10-10 11:50:56   ë¶€êµìˆ˜
43  9944  5100000   NaN    ì»´í“¨í„°ê³µí•™ê³¼  ë°•íƒœìˆ˜ 2025-10-10 11:50:56   ë¶€êµìˆ˜
44  9945  5100000   NaN    ì»´í“¨í„°ê³µí•™ê³¼  ë°•íƒœìˆ˜ 2025-10-10 11:50:59   ë¶€êµìˆ˜
45  9946  5100000   NaN    ì»´í“¨í„°ê³µí•™ê³¼  ë°•íƒœìˆ˜ 2025-10-10 11:51:00   ë¶€êµìˆ˜
46  9947  5100000   NaN    ì»´í“¨í„°ê³µí•™ê³¼  ë°•íƒœìˆ˜ 2025-10-10 11:51:01   ë¶€êµìˆ˜
47  9948  5100000   NaN    ì»´í“¨í„°ê³µí•™ê³¼  ë°•íƒœìˆ˜ 2025-10-10 11:51:01   ë¶€êµìˆ˜
48  9949  5100000   NaN    ì»´í“¨í„°ê³µí•™ê³¼  ë°•íƒœìˆ˜ 2025-10-10 11:51:01   ë¶€êµìˆ˜
49  9950  5100000   NaN    ì»´í“¨í„°ê³µí•™ê³¼  ë°•íƒœìˆ˜ 2025-10-10 11:51:14   ë¶€êµìˆ˜
50  9951  5100000   NaN    ì»´í“¨í„°ê³µí•™ê³¼  ë°•íƒœìˆ˜ 2025-10-10 11:51:15   ë¶€êµìˆ˜
51  9952  5100000   NaN    ì»´í“¨í„°ê³µí•™ê³¼  ë°•íƒœìˆ˜ 2025-10-10 11:51:15   ë¶€êµìˆ˜
52  9953  5100000   NaN    ì»´í“¨í„°ê³µí•™ê³¼  ë°•íƒœìˆ˜ 2025-10-10 11:51:16   ë¶€êµìˆ˜
53  9954  5100000   NaN    ì»´í“¨í„°ê³µí•™ê³¼  ë°•íƒœìˆ˜ 2025-10-10 11:51:16   ë¶€êµìˆ˜
54  9955  5100000   NaN    ì»´í“¨í„°ê³µí•™ê³¼  ë°•íƒœìˆ˜ 2025-10-10 11:51:17   ë¶€êµìˆ˜
55  9956  5100000   NaN    ì»´í“¨í„°ê³µí•™ê³¼  ë°•íƒœìˆ˜ 2025-10-10 11:51:35   ë¶€êµìˆ˜
56  9957  5100000   NaN    ì»´í“¨í„°ê³µí•™ê³¼  ë°•íƒœìˆ˜ 2025-10-10 11:52:35   ë¶€êµìˆ˜
57  9958  5100000   NaN    ì»´í“¨í„°ê³µí•™ê³¼  ë°•íƒœìˆ˜ 2025-10-10 11:53:37   ë¶€êµìˆ˜

In [98]:
sql = text("""
           INSERT INTO students(
               names, user_id, grade, idnum, birthdate, phone, height, 
               weight, email, gender, status, admission_date, department_id
            )VALUES (
            : name, user_id, :grade, MD5(:idnum), :birthdate, :phone, :height, 
            :weight, :email, :gender, :status, :admission_date, :department_id
         )
     """)           

new_student = {
    "name": "ë‚˜ì‹ ì…",
    "user_id": "newbie",
    "grade": 1,
    "idnum": "9205171000000",
    "birthdate": "2024-03-15",
    "phone": "010-9876-5432",
    "height": 175,
    "weight": 82,
    "email": "newbie@myschool.ac.kr",
    "gender": "ë‚¨",
    "status": "ì¬í•™",
    "admission_date": "2028-02-12",
    "department_id": 101
}

try:
    result = conn.execute(sql, new_student)
    affected_rows = result.rowcount
    conn.commit()

    pk_result = conn.execute(text("SELECT LAST_INSERT_ID()"))
    pk = pk_result.scalar()


except Exception as e:
    print("SQL ERROR:", e )
    conn.rollback()
    raise SystemExit

print("ì €ì¥ëœ í–‰ì˜ ìˆ˜:", affected_rows, "ì‹ ê·œí•™ìƒ ID:", pk )

SQL ERROR: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ': name, user_id, 1, MD5('9205171000000'), '2024-03-15', '010-9876-5432', 175, \n ' at line 5")
[SQL:
           INSERT INTO students(
               names, user_id, grade, idnum, birthdate, phone, height,
               weight, email, gender, status, admission_date, department_id
            )VALUES (
            : name, user_id, %(grade)s, MD5(%(idnum)s), %(birthdate)s, %(phone)s, %(height)s,
            %(weight)s, %(email)s, %(gender)s, %(status)s, %(admission_date)s, %(department_id)s
         )
     ]
[parameters: {'grade': 1, 'idnum': '9205171000000', 'birthdate': '2024-03-15', 'phone': '010-9876-5432', 'height': 175, 'weight': 82, 'email': 'newbie@myschool.ac.kr', 'gender': 'ë‚¨', 'status': 'ì¬í•™', 'admission_date': '2028-02-12', 'department_id': 101}]
(Background on this error at: https://sqlalche.me/e/20/f405)

SystemExit:

/Users/igyueul/Library/Python/3.13/lib/python/site-packages/IPython/core/interactiveshell.py:3707: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [ ]:
# ë°ì´í„° ì…ë ¥í•˜ê¸°

import hashlib
from sqlalchemy import text

# ğŸ”¹ idnumì„ ë¯¸ë¦¬ ì•”í˜¸í™”
hashed_idnum = hashlib.md5("9205171000000".encode()).hexdigest()

# ğŸ”¹ SQL êµ¬ë¬¸ ì •ì˜
sql = text("""
    INSERT INTO students(
        name, user_id, grade, idnum, birthdate, phone, height,
        weight, email, gender, status, admission_date, department_id
    ) VALUES (
        :name, :user_id, :grade, :idnum, :birthdate, :phone, :height,
        :weight, :email, :gender, :status, :admission_date, :department_id
    )
""")

# ğŸ”¹ ì‚½ì…í•  ë°ì´í„°
new_student = {
    "name": "ë‚˜ì‹ ì…",
    "user_id": "newbie",
    "grade": 1,
    "idnum": hashed_idnum,
    "birthdate": "2024-03-15",
    "phone": "010-9876-5432",
    "height": 175,
    "weight": 82,
    "email": "newbie@myschool.ac.kr",
    "gender": "ë‚¨",
    "status": "ì¬í•™",
    "admission_date": "2028-02-12",
    "department_id": 101
}

# ğŸ”¹ ì‹¤í–‰ ë° ê²°ê³¼ ì²˜ë¦¬
try:
    result = conn.execute(sql, new_student)
    affected_rows = result.rowcount  # âœ… ì‹¤í–‰ëœ í–‰ ìˆ˜
    conn.commit()

    # ë§ˆì§€ë§‰ìœ¼ë¡œ ì‚½ì…ëœ PK ê°’ ì¡°íšŒ
    pk_result = conn.execute(text("SELECT LAST_INSERT_ID()"))
    pk = pk_result.scalar()

    # âœ… ì¶œë ¥ ë¶€ë¶„
    print("ì €ì¥ëœ í–‰ì˜ ìˆ˜:", affected_rows, ", ì‹ ê·œ í•™ìƒ ID:", pk)

except Exception as e:
    print("âŒ [SQL ERROR]:", e)
    conn.rollback()
    raise SystemExit

ì €ì¥ëœ í–‰ì˜ ìˆ˜: 1 , ì‹ ê·œ í•™ìƒ ID: 10182

In [107]:
# ê²€ìƒ‰ ì¡°ê±´ì„ ì§ì ‘ ì…ë ¥ë°›ì•„ì„œ ê°€ì ¸ì˜¤ê¸°
min_height = int(input("í‚¤ì˜ í•˜í•œê°’ì„ ì…ë ¥í•˜ì„¸ìš”."))
max_height = int(input("í‚¤ì˜ ìƒí•œê°’ì„ ì…ë ¥í•˜ì„¸ìš”."))

sql = text("""
           SELECT id, name, grade, height, weight, gender
           FROM students
           WHERE height BETWEEN :min AND :max""")

try:
    df = read_sql(sql, conn, params={"min" : min_height, "max" : max_height})

except Exception as e:
    print("SQL Error:", e)
    raise SystemExit

df

       id name  grade  height  weight gender
0   10101  í™©ì§„ìš°      1     151      62      ë‚¨
1   10102  ì„œìˆœì˜¥      6     152      46      ë‚¨
2   10103  ë°±ìˆœì˜¥      3     184      71      ë‚¨
3   10104  ê¹€ì„œì—°      4     171      62      ë‚¨
4   10105  ë°•ë¯¸ì˜      1     172      67      ì—¬
..    ...  ...    ...     ...     ...    ...
76  10177  ê¹€í•˜ëŠ˜      1     162      51      ì—¬
77  10178  ë°•ì„¸ë¦°      2     169      56      ì—¬
78  10179  ì •ì§€í›„      1     172      62      ë‚¨
79  10180  ê¹€í•˜ëŠ˜      1     162      51      ì—¬
80  10182  ë‚˜ì‹ ì…      1     175      82      ë‚¨

[81 rows x 6 columns]

In [90]:
from sqlalchemy import create_engine, text
from pandas import DataFrame

In [91]:
# ë°ì´í„° ìˆ˜ì •í•˜ê¸°
sql = text("UPDATE students SET phone =:phone, email=:email WHERE id=:id")

params = {"phone":"010-1234-5678", "email":"jinwoo.h@myschool.ac.kr", "id":10102}

try:
    result = conn.execute(sql, params)
    conn.commit()
except Exception as e:
    print(f"ë°ì´í„° ìˆ˜ì • ëª¨ìŒ: {e}")
    conn.rollback()
    raise SystemExit

print("ìˆ˜ì •ëœ ë°ì´í„° ìˆ˜:", result.rowcount)

ìˆ˜ì •ëœ ë°ì´í„° ìˆ˜: 1

In [95]:
# ë°ì´í„° ì‚­ì œí•˜ê¸°
sql = text("DELETE FROM enrollments WHERE student_id =:id")

params = {"id":10102}

try:
    result = conn.execute(sql, params)
    conn.commit()

except Exception as e:
    print(f"ë°ì´í„° ì‚­ì œ ì˜¤ë¥˜:{e}")
    conn.rollback()
    raise SystemExit

print("ì‚­ì œëœ ë°ì´í„° ìˆ˜:", result.rowcount)

ì‚­ì œëœ ë°ì´í„° ìˆ˜: 2

In [96]:
#04.Pandas í™œìš© ë°ì´í„° ì¡°íšŒ
from pandas import read_sql

In [97]:
#sql ë¬¸ì˜ ê²°ê³¼ë¥¼ í‘œ(DataFrame)í˜•íƒœë¡œ ì§ì ‘ ê°€ì ¸ì˜¤ê¸°

sql = text("SELECT id, name, position, sal, comm FROM professors WHERE sal > 500")

try:
    df = read_sql(sql, conn)

except Exception as e:
    print("SQL ERROR:", e)
    raise SystemExit
df

      id name position      sal  comm
0   9902  í—ˆê²½í¬     ì „ì„ê°•ì‚¬      552   NaN
1   9903  ì „ì¢…ìˆ˜      ì¡°êµìˆ˜      508   NaN
2   9910  ê°•ì˜í˜¸      ì¡°êµìˆ˜      593   NaN
3   9915  ì´ì˜¥ìˆœ       êµìˆ˜      548  22.0
4   9918  ì˜¤ë¯¸ì˜      ë¶€êµìˆ˜      578   NaN
5   9928  ì´ì˜ê¸¸      ì¡°êµìˆ˜      526  14.0
6   9931  ë°•íƒœìˆ˜      ë¶€êµìˆ˜      510   NaN
7   9932  ìµœì •í›ˆ      ë¶€êµìˆ˜      520   NaN
8   9933  ë°•íƒœìˆ˜      ë¶€êµìˆ˜  5100000   NaN
9   9934  ë°•íƒœìˆ˜      ë¶€êµìˆ˜  5100000   NaN
10  9935  ë°•íƒœìˆ˜      ë¶€êµìˆ˜  5100000   NaN
11  9936  ë°•íƒœìˆ˜      ë¶€êµìˆ˜  5100000   NaN
12  9937  ë°•íƒœìˆ˜      ë¶€êµìˆ˜  5100000   NaN
13  9938  ë°•íƒœìˆ˜      ë¶€êµìˆ˜  5100000   NaN
14  9939  ë°•íƒœìˆ˜      ë¶€êµìˆ˜  5100000   NaN
15  9940  ë°•íƒœìˆ˜      ë¶€êµìˆ˜  5100000   NaN
16  9941  ë°•íƒœìˆ˜      ë¶€êµìˆ˜  5100000   NaN
17  9942  ë°•íƒœìˆ˜      ë¶€êµìˆ˜  5100000   NaN
18  9943  ë°•íƒœìˆ˜      ë¶€êµìˆ˜  5100000   NaN
19  9944  ë°•íƒœìˆ˜      ë¶€êµìˆ˜  5100000   NaN
20  9945  ë°•íƒœìˆ˜      ë¶€êµìˆ˜  5100000   NaN
21  9946  ë°•íƒœìˆ˜      ë¶€êµìˆ˜  5100000   NaN
22  9947  ë°•íƒœìˆ˜      ë¶€êµìˆ˜  5100000   NaN
23  9948  ë°•íƒœìˆ˜      ë¶€êµìˆ˜  5100000   NaN
24  9949  ë°•íƒœìˆ˜      ë¶€êµìˆ˜  5100000   NaN
25  9950  ë°•íƒœìˆ˜      ë¶€êµìˆ˜  5100000   NaN
26  9951  ë°•íƒœìˆ˜      ë¶€êµìˆ˜  5100000   NaN
27  9952  ë°•íƒœìˆ˜      ë¶€êµìˆ˜  5100000   NaN
28  9953  ë°•íƒœìˆ˜      ë¶€êµìˆ˜  5100000   NaN
29  9954  ë°•íƒœìˆ˜      ë¶€êµìˆ˜  5100000   NaN
30  9955  ë°•íƒœìˆ˜      ë¶€êµìˆ˜  5100000   NaN
31  9956  ë°•íƒœìˆ˜      ë¶€êµìˆ˜  5100000   NaN
32  9957  ë°•íƒœìˆ˜      ë¶€êµìˆ˜  5100000   NaN
33  9958  ë°•íƒœìˆ˜      ë¶€êµìˆ˜  5100000   NaN

In [108]:
df.to_csv("í•™ìƒëª©ë¡.csv", encoding="utf-8")

In [109]:
df.to_excel("í•™ìƒëª©ë¡.xlsx")

In [ ]:
import pandas as pd
df = pd.read_csv("í•™ìƒëª©ë¡.csv",encoding= "utf-8")

print(df.head())

   Unnamed: 0     id name  grade  height  weight gender
0           0  10101  í™©ì§„ìš°      1     151      62      ë‚¨
1           1  10102  ì„œìˆœì˜¥      6     152      46      ë‚¨
2           2  10103  ë°±ìˆœì˜¥      3     184      71      ë‚¨
3           3  10104  ê¹€ì„œì—°      4     171      62      ë‚¨
4           4  10105  ë°•ë¯¸ì˜      1     172      67      ì—¬

In [112]:
import os
print(os.getcwd())

/Users/igyueul/á„†á…®á†«á„‰á…¥ /á„‘á…©á†¯á„ƒá…¥2

In [121]:
# covid19_1ë²ˆ
from sqlalchemy import create_engine, text


config = {
    'username': 'root',
    'password': '5180',
    'hostname': 'localhost',
    'port': 3306,
    'database': 'myschool',
    'charset': 'utf8mb4'
}

con_str_tpl = "mysql+pymysql://{username}:{password}@{hostname}:{port}/{database}?charset={charset}"

con_str = con_str_tpl.format(**config)
print(con_str)


try:
    engine = create_engine(con_str)
    conn = engine.connect()
    print("Database connect succes!!!")

except Exception as e:
    print("Database connect fail!!!", e)

mysql+pymysql://root:5180@localhost:3306/myschool?charset=utf8mb4
Database connect succes!!!

In [119]:
# covid19_1ë²ˆ
import pandas as pd
df = pd.read_excel("covid19.xlsx")

print(df.head())
df

          ë‚ ì§œ  ì„œìš¸ì‹œ ì¼ì¼ í™•ì§„  ì„œìš¸ì‹œ ì¼ì¼ ì‚¬ë§  ì „êµ­ ì¼ì¼ í™•ì§„  ì „êµ­ ì¼ì¼ ì‚¬ë§
0 2023-05-31     5987.0          6   24411.0        17
1 2023-05-30     3326.0          1   13529.0         7
2 2023-05-29     1393.0          1    6868.0         3
3 2023-05-28     1393.0          1    6868.0         3
4 2023-05-27     4078.0          0   17796.0         3

             ë‚ ì§œ  ì„œìš¸ì‹œ ì¼ì¼ í™•ì§„  ì„œìš¸ì‹œ ì¼ì¼ ì‚¬ë§  ì „êµ­ ì¼ì¼ í™•ì§„  ì „êµ­ ì¼ì¼ ì‚¬ë§
0    2023-05-31     5987.0          6   24411.0        17
1    2023-05-30     3326.0          1   13529.0         7
2    2023-05-29     1393.0          1    6868.0         3
3    2023-05-28     1393.0          1    6868.0         3
4    2023-05-27     4078.0          0   17796.0         3
...         ...        ...        ...       ...       ...
1207 2020-02-09        0.0          0       0.0         0
1208 2020-02-08        0.0          0       0.0         0
1209 2020-02-07        0.0          0       0.0         0
1210 2020-02-06        0.0          0       0.0         0
1211 2020-02-05        0.0          0       0.0         0

[1212 rows x 5 columns]

In [128]:
# covid19_1ë²ˆ
import pandas as pd
from sqlalchemy import create_engine

df= pd.read_excel("covid19.xlsx")

engine = create_engine("mysql+pymysql://root:5180@localhost:3306/myschool?charset=utf8mb4")

df.to_sql('covid19', con=engine, if_exists = 'replace', index=False)

print("âœ… covid19 í…Œì´ë¸”ì´ myschool ë°ì´í„°ë² ì´ìŠ¤ì— ìƒì„± ë° ì €ì¥ ì™„ë£Œ!")

âœ… covid19 í…Œì´ë¸”ì´ myschool ë°ì´í„°ë² ì´ìŠ¤ì— ìƒì„± ë° ì €ì¥ ì™„ë£Œ!

In [139]:
import pandas as pd
from sqlalchemy import create_engine

# 1ï¸âƒ£ MySQL ì—°ê²°
engine = create_engine("mysql+pymysql://root:5180@localhost:3306/myschool?charset=utf8mb4")

# 2ï¸âƒ£ SQLë¬¸ ì‘ì„±
query = """
SELECT 
    YEAR(`ë‚ ì§œ`) AS `ë…„ë„`,
    MONTH(`ë‚ ì§œ`) AS `ì›”`,
    SUM(`ì„œìš¸ì‹œ ì¼ì¼ í™•ì§„`) AS `ì„œìš¸ì‹œ í™•ì§„ì í•©ê³„`,
    SUM(`ì„œìš¸ì‹œ ì¼ì¼ ì‚¬ë§`) AS `ì„œìš¸ì‹œ ì‚¬ë§ì í•©ê³„`,
    SUM(`ì „êµ­ ì¼ì¼ í™•ì§„`) AS `ì „êµ­ í™•ì§„ì í•©ê³„`,
    SUM(`ì „êµ­ ì¼ì¼ ì‚¬ë§`) AS `ì „êµ­ ì‚¬ë§ì í•©ê³„`
FROM `covid19`
GROUP BY YEAR(`ë‚ ì§œ`), MONTH(`ë‚ ì§œ`)
ORDER BY `ë…„ë„` DESC, `ì›”` DESC;
"""

# 3ï¸âƒ£ SQL ì‹¤í–‰ â†’ pandas DataFrameìœ¼ë¡œ ë°›ê¸°
df_result = pd.read_sql_query(query, con=engine)

df_result.to_excel("covid19_í•©ê³„.xlsx", index = False)
print("âœ… ë…„/ì›”ë³„ í•©ê³„ ê²°ê³¼ê°€ covid19_ì›”ë³„í•©ê³„.xlsx íŒŒì¼ë¡œ ì €ì¥ë˜ì—ˆìŠµë‹ˆë‹¤!")

âœ… ë…„/ì›”ë³„ í•©ê³„ ê²°ê³¼ê°€ covid19_ì›”ë³„í•©ê³„.xlsx íŒŒì¼ë¡œ ì €ì¥ë˜ì—ˆìŠµë‹ˆë‹¤!

In [ ]:
df.read